/*================= FUENTES ==========================*/
@font-face{
    font-family: 'Mayan';
    src: url(../fonts/Mayan\ 2.ttf);
}
@font-face{
    font-family: 'Tequila';
    src: url(../fonts/Stronger.ttf);
}

@font-face{
    font-family: 'Mirian';
    src: url(../fonts/MyriadPro-Regular_1.otf)
}

@font-face{
    font-family: 'Bison';
    src: url(../fonts/Bison-Bold\(PersonalUse\).ttf);

}

/*============== ESTILOS GENERALES =================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.full-page{
    /* background: rgb(191, 230, 173); */
    width: 100%;
    height: 100vh;
}

/* ======================== CLASES DE FULLPAGES ========================*/

#fp-nav ul li a span{
    background: orange;
}

#fp-nav ul li .fp-tooltip{
    color: orange;
}

/* ======================= LOGOTIPOS ============================ */

/* ==================== LOGOTIPO STICKY ========================= */
.contenedor-logotipo-sticky{
    width: 20%;
    height: auto;
    max-width: 80px;
    position: fixed;
    top: 2.5rem;
    left: 0.4rem;
    z-index: 1000;
}

/* =====================================================  */
/*===================== CONTENIDO   =================== */
/* ================================================== */

/* ========================  CONTENEDOR DE GRID ============================*/

.contenedor-grid{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 300;

}

/* ======================== CSS GRID ============================*/
.contenedor-grid .grid{
    width: 100%;
    height: 100%;
    display:grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo logo logo-2"
                         "aside-izquierda boton aside-derecha"
                         "footer footer footer";

}

/* ======================================================== */
/* ====================== FOOTER ========================= */
/* ====================================================== */

/* ==================== BOTÓN RESERVAS ================= */

.boton-reservas-footer{
    position: relative;
    grid-area: boton;
    width: 100%;
    /* background: red; */
}

.boton-reservas-footer img{
    width: 170px;
    animation: giro 50s linear infinite ; 
    cursor: pointer;
    z-index: 500;
}

@keyframes giro{
    0%{ transform: rotateZ(0deg); } 
    100%{ transform: rotateZ(360deg); }
}

.boton-reservas-footer .nombre-reserva{
    position: absolute;
    z-index: 700;
    color: #fff;
    top: 75px;
    right: 55px;
    font-size: 15px;
}


/*===================== Footer ===========================*/
.footer{
    display: flex;
    grid-area: footer;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    position: sticky;
    /* border: 1px solid #fff; */
}

.footer .contenedor-footer{
    display: flex;
    width: 100%;
    height: 170px;
    position: relative;
    justify-content:center;
    align-items: flex-end;
}

.footer .contenedor-footer .caja-1{
    width: 100%;
    height: 60%;
    position: absolute;
    background: #2C0D10;
    box-shadow: 0px 0px 40px rgba(0,0,0,10);
    z-index: 100;
}

.footer .contenedor-footer .caja-2{
    display: flex;
    width: 100%;
    height: 40%;
    position: absolute;
    z-index: 0;
    align-self:flex-start;
}

/* PATRON */
.footer .patron-footer{
    width: 99.9%;
    position:absolute;
    z-index: 400;
    overflow: hidden;
    bottom: 35px;
}
.footer .patron-footer img{
    width: 1000px;
}

 .footer .imagen-mitad-del-mundo{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 60px;
    justify-content: center;
    z-index: 200;
}

.imagen-mitad-del-mundo img.monumento{
    position: relative;
    width: 30%;
    max-width: 110px;
    height: 10%;
    z-index: 500;
}

.contenedor-alas{
    display: flex;
    width: 100%;
    max-width: 400px;
    height: auto;
    position: absolute;
    align-self: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    z-index: 100;
}

.contenedor-alas img.alas-izq{
    width: 24%;
    height: 30%;
    z-index: 500;
    animation: animacion-alas-izq 1.5s 3s ease-in-out alternate-reverse  infinite;
    animation-fill-mode: forwards;
    margin-right: 30%;
    margin-top: -5%;
}

.contenedor-alas img.alas-der{
    width: 24%;
    height: 10%;
    z-index: 500;
    animation: animacion-alas-der 1.5s 3s ease-in-out alternate-reverse infinite;
    animation-fill-mode: forwards;
    transform: scaleX(-1);
    margin-left: 30%;
    margin-top: -5%;
    
}

/* ANIMACIONES ALAS  */

@keyframes animacion-alas-izq{
    0% {transform: rotate(-10deg) translateY(15px);}
    20% {transform: rotate(0deg) translateY(0px);}
    75% {transform: rotate(-15deg) translateY(15px);}
    100% {transform: rotate(0deg) translateY(0px);}
}
@keyframes animacion-alas-der{
    0% {transform: rotate(10deg) scaleX(-1) translateY(15px);}
    20% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
    75% {transform: rotate(15deg) scaleX(-1) translateY(15px);}
    100% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
}

/* ======== IMAGENES FOOTER COSTADOS ========== */

.footer .imagen-izquierda-footer{
    display: flex;
    width: 100%;
}

.footer .imagen-izquierda-footer img{
    width: 26%;
    max-width: 100px;
    position: absolute;
    align-self: flex-end;
}

.footer .imagen-derecha-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.footer .imagen-derecha-footer img{
    width: 26%;
    max-width:100px;
    position: absolute;
    align-self: flex-end;
}



/* ================ REDES SOCIALES ===================== */

.footer .redes-sociales{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 25px;
    z-index: 500;
}


.footer .redes-sociales a{
    display: flex;
    width: 50px;
    height: 50px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin:  7px;
    color: #2C0D10;
    transition: 0.4s;
    margin-top: -80px;
}

.footer .redes-sociales a:hover{
    background: #2C0D10;
    color: #fff;
    font-size: 30px;
}

.redes-sociales img{
    position: absolute;
    width: 40px;
}


/* ====================================================================== */
/* ================== CONTENIDO PRINCIPAL SLIDES MENU ================== */
/* ==================================================================== */
.contenedor-slide {
    display: flex;
    position: relative;
    width: 100% !important;
    height: 100vh;
}

/*=================== ESTILO IMAGENES FONDO DE SLIDES ==================*/
#carta-menu-1, #carta-menu-2, #carta-menu-3,
#carta-menu-4, #carta-menu-5, #carta-menu-6,
#carta-menu-7, #carta-menu-8, #carta-menu-9,
#carta-menu-10, #carta-menu-11, #carta-menu-12,
#carta-menu-13, #carta-menu-14, #carta-menu-15, 
#carta-menu-16
{
    background-position: center center;
    background-repeat: repeat-x;
    background-size: cover;
    /* background-attachment: fixed; */
    width: 100%;
    z-index: 100;
}

/* FOOTER */
#carta-menu-1{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-1.png");
}

/* PRIMERA PÁGINA */
#carta-menu-2{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-2.png");
}
#carta-menu-3{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-3.png");
}

#carta-menu-4{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-4.png");
}
#carta-menu-5{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-5.png");
}
#carta-menu-6{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-6.png");
}
#carta-menu-7{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-7.png");
}
#carta-menu-8{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-8.png");
}
#carta-menu-9{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-9.png");
}
#carta-menu-10{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-10.png");
}
#carta-menu-11{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-11.png");
}
#carta-menu-12{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-12.png");
}
#carta-menu-13{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-13.png");
}
#carta-menu-14{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-1.png");
}
#carta-menu-15{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-15.png");
}
#carta-menu-16{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-14.png");
}



/* ================== TÍTULO DE PAGINAS DEL MENÚ ================ */
.contenedor-slide .titulo-paginas-menu{
    position: absolute;
    width: 60%;
    height: auto;
    right: 0;
    left: 0;
    top: 10px;
    margin: auto;
    /* background: red; */
}
.titulo-paginas-menu img{
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    /* background: blue; */
}

/* ============== TÍTULO DE SECCIÓN DOBLE ================= */
.contenedor-ensaladas-tacos .imagen-titulo-seccion-doble{
    position: absolute;
    width: 67%;
    top: -100%;
    right: 0;
    left: 0;
}

/* ======== CONTENEDOR IMÁGENES DE PLATOS E INFORMACIÓN ===== */
.contenedor-info-producto{
    position: relative;
    width: 100%;
    height: 90%;
    z-index: 300;
    margin: auto;
    margin-top: 20%;
}

.contenedor-info-producto .contenedor-info-producto-superior {
	position: relative;
	width: 100%;
	height: 40vh;
	/* background: rgba(0,255,255, .3 );
	border: 1px solid aliceblue; */
}

.contenedor-info-producto .contenedor-info-producto-inferior{
    position: relative;
    width: 100%;
    height: 40vh;
    /* background: rgba(0,0,255, .3);  */
}

.contenedor-info-producto .contenedor-info-producto-intermedio {
	position: absolute;
	width: 100%;
	height: 70%;
	/* background: red; */
	top: 0;
	bottom: 0;
	margin: auto;
}


/* =========== ESTILOS GENERALES IMÁGENES PLATOS Y BEBIDAS ======== */
.contenedor-info-producto img{
    width: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.contenedor-info-producto-superior img{
    left:0;
}
.contenedor-info-producto-inferior img{
    right: 0;
}

.contenedor-info-producto-intermedio img {
	right: 0;
	margin: initial;
	bottom: 35px;
	top: initial;
}

/* =============================================================== */
/* = ESTILOS PARTICULARES DE IMÁGENES PLATOS, LICORES Y BEBIDAS ==*/

/* =========== PRIMERA SECCIÓN - PA' COMPARTIR ================= */
.contenedor-pa-compartir-1 .contenedor-info-producto-superior img{
    width: 68%;
    transform: RotateZ(10deg);
}

.contenedor-pa-compartir-2 .contenedor-info-producto-superior img{
    width: 55%;
}

.contenedor-pa-compartir-2 .contenedor-info-producto-inferior img{
    width: 61%;
}

/* ============ SEGUNDA SECCIÓN - PA' ENTRARLE SOLITO ==========*/
.contenedor-pa-entrarle-solito-1 .contenedor-info-producto-superior img{
    width: 60%;
}

.contenedor-pa-entrarle-solito-1 .contenedor-info-producto-inferior img{
    width: 70%;
}

.contenedor-pa-entrarle-solito-2 .contenedor-info-producto-intermedio img{
    width: 65%;
}

/* ============== TERCERA SECCIÓN - SOPAS =================== */
.contenedor-sopas-1 .contenedor-info-producto-superior img{
    width: 55%;
}

.contenedor-sopas-1 .contenedor-info-producto-inferior img{
    width: 60%;
}

/* ======== CUARTA SECCIÓN DOBLE - ENSALADAS Y TACOS =========*/
.contenedor-ensaladas-tacos .contenedor-info-producto-superior .imagen-seccion-doble{
    position: absolute;
    width: 75%;
    top: -50px;
    left: 0;
}

.contenedor-ensaladas-tacos .contenedor-info-producto-inferior .imagen-seccion-doble{
    position: absolute;
    width: 74%;
    top: -50px;
    right: 0;
}

/* ======== QUINTA SECCIÓN - LOS MERO MERO MEXICANOS ========*/
.contenedor-los-mero-mero-1 .contenedor-info-producto-superior img{
    width: 75%;
    transform: scaleX(-1);
}

.contenedor-los-mero-mero-1 .contenedor-info-producto-inferior img{
    width: 70%;
}

.contenedor-los-mero-mero-2 .contenedor-info-producto-inferior img{
    width: 72%;
}

.contenedor-los-mero-mero-2 .contenedor-info-producto-superior img{
    width: 76%;
    transform: scaleX(-1);
}

.contenedor-los-mero-mero-3 .contenedor-info-producto-intermedio img{
    width: 90%;
    transform: rotateZ(-50deg);
    margin-top: 80%;
}

/* ================= SEXTA SECCIÓN  - LAS ESTRELLAS ============== */
.contenedor-las-estrellas-1 .contenedor-info-producto-superior img{
    width: 70%;
    transform: rotateY(180deg);
}

.contenedor-las-estrellas-1 .contenedor-info-producto-inferior img{
    width: 58%;
}

/* ========== SÉPTIMA SECCIÓN - LO MEJOR DE LO NUESTRO =========== */
.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior img{
    width: 65%;
}

.contenedor-nuestro-ganado-1 .contenedor-info-producto-inferior img{
    width: 60%;
    transform: rotateZ(13deg);
}

.contenedor-nuestro-ganado-2 .contenedor-info-producto-intermedio img{
    width: 75%;
    transform: rotateZ(20deg);
    margin-right: 4%;
}

/* ========== OCTAVA SECCIÓN - PECHUGAS PIO PIO ================ */
.contenedor-pechugas-pio-pio-1 .contenedor-info-producto-superior img{
    width: 52%;
    transform: rotateZ(30deg);
}

.contenedor-pechugas-pio-pio-1 .contenedor-info-producto-inferior img{
    width: 52%;
    transform: rotateZ(29deg);
}

/* ================== NOVENA SECCIÓN - Y EL PUERCO ============ */
.contenedor-y-el-puerco-1 .contenedor-info-producto-intermedio img {
    width: 65%;
    transform: rotateZ(22deg);
}

/* ================= DÉCIMA SECCIÓN - MARISCOS ============== */
.contenedor-mariscos-1 .contenedor-info-producto-superior img {
    width: 70%;
    transform: rotateZ(-5deg);
}

.contenedor-mariscos-1 .contenedor-info-producto-inferior img {
    width: 77%;
    transform: rotateZ(-25deg) scaleY(-1) scaleX(-1);
}

/* ===== UNDÉCIMA SECCIÓN DOBLE - MENÚ INFANTIL Y EXTRAS ===== */

/* ============= DUODECIMA SECCIÓN - POSTRES =============== */
.contenedor-postres-1 .contenedor-info-producto-superior img{
    width: 70%;
    transform: rotateZ(-15deg);
}

.contenedor-postres-1 .contenedor-info-producto-inferior img{
    width: 70%;
    transform: rotateZ(-5deg);
}

.contenedor-postres-2 .contenedor-info-producto-superior img{
    width: 65%;
    transform: rotateZ(-5deg);
}

.contenedor-postres-2 .contenedor-info-producto-inferior img{
    width: 70%;
    transform: rotateZ(-5deg);
}

/* =========== TRIGÉSIMA SECCIÓN - LICORES =================*/

.contenedor-licores-1 .contenedor-info-producto-superior img{
    width: 26%;
    left: 15%;
}
.contenedor-licores-1 .contenedor-info-producto-inferior img{
    width: 36%;
    right: 13%;
    bottom: 15%;
}

.contenedor-licores-2 .contenedor-info-producto-superior img{
    width: 40%;
    left: 10%;
}


.contenedor-licores-2 .contenedor-info-producto-inferior img{
    width: 35%;
    right: 10%;
    bottom: 15%;
}

.contenedor-licores-3 .contenedor-info-producto-superior img{
    width: 30%;
    left: 10%;
}


.contenedor-licores-3 .contenedor-info-producto-inferior img{
    width: 35%;
    right: 10%;
    bottom: 15%;
}

.contenedor-licores-4 .contenedor-info-producto-superior img{
    width: 35%;
    left: 10%;
    top: 15%;
}


.contenedor-licores-4 .contenedor-info-producto-inferior img{
    width: 35%;
    right: 15%;
    bottom: 25%;
}

.contenedor-licores-5 .contenedor-info-producto-superior img{
    width: 30%;
    left: 10%;
}


.contenedor-licores-5 .contenedor-info-producto-inferior img{
    width: 25%;
    right: 15%;
    bottom: 55%;
}

.contenedor-licores-6 .contenedor-info-producto-superior img{
    width: 37%;
    left: 10%;
}

.contenedor-licores-6 .contenedor-info-producto-inferior img{
    width: 33%;
    right: 10%;
    bottom: 40%;
}

/* ============== CUATRIGÉSIMA SECCIÓN BEBIDAS ==================== */

/*=== ESTILOS GENERALESS DE TÍTULO DE PLATOS, LICORES Y BEBIDAS === */
.contenedor-info-producto .titulo{
    position: absolute;
    color: #fff;
    font-family: 'Rye', cursive;
    font-size: 25px;
    top: 5%;
    text-transform: uppercase;
    background: rgb(255, 109, 24);
    line-height: 90%;
    padding: 0.2em;
}

.contenedor-info-producto-superior .titulo{
    right: 12%;
}

.contenedor-info-producto-inferior .titulo{
    left: 5%;
}

.contenedor-info-producto-intermedio .titulo {
	left: 10%;
	top: 0;
}

/* =============================================================== */
/* ========= ESTILOS PARTICULARES DE TÍTULOS DE PLATOS ===========*/

/* ============ PRIMERA SECCIÓN - PA' COMPARTIR ================*/
.contenedor-pa-compartir-1 .titulo{
    background: rgb(255, 109, 24);

}

.contenedor-pa-compartir-1 .contenedor-info-producto-inferior .titulo{
    background: rgb(140, 21, 187);
    padding: 0.2em;
}

.contenedor-pa-compartir-2 .contenedor-info-producto-inferior .titulo{
    background: rgb(140, 21, 187);
}

/* ============ SEGUNDA SECCIÓN - PA' ENTRARLE SOLITO ============= */
.contenedor-pa-entrarle-solito-1 .titulo{
    background: rgb(235, 13, 61);
}

.contenedor-pa-entrarle-solito-2 .titulo{
    background: rgb(235, 13, 61);
}

/* ============== TERCERA SECCIÓN - SOPAS   ===================== */
.contenedor-sopas-1 .titulo{
    background: rgb(176, 0, 182);  
}

.contenedor-sopas-1 .contenedor-info-producto-inferior .titulo{
    background: rgb(235, 13, 61);
}

/* ========= CUARTA SECCIÓN DOBLE - ENSALADAS Y TACOS =========*/
.contenedor-ensaladas-tacos .contenedor-info-producto-superior .titulo{
    background: rgb(2, 88, 13);
}
/* ======== QUINTA SECCIÓN - LOS MERO MERO MEXICANOS =========*/
.contenedor-los-mero-mero-1 .titulo,
.contenedor-los-mero-mero-2 .titulo,
.contenedor-los-mero-mero-3 .titulo{
    background: rgb(235, 13, 61);
}

/* ============== SEXTA SECCIÓN  - LAS ESTRELLAS =============*/
.contenedor-las-estrellas-1 .titulo{
    background: rgb(5, 196, 5);
}

/* ===== SÉPTIMA SECCIÓN - LO MEJOR DE NUESTRO GANADO ====== */
.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior .titulo{
    background: transparent;
    line-height: 100%;
}

.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior .titulo span{
    background: rgb(255, 109, 24);
}

/* ========= OCTAVA SECCIÓN - PECHUGAS PIO PIO ============ */
.contenedor-pechugas-pio-pio-1 .contenedor-info-producto-superior .titulo span{
    background: rgb(24, 220, 255);
}

/* =========== NOVENA SECCIÓN - Y EL PUERCO ================ */

/* =============== DÉCIMA SECCIÓN - MARISCOS ==============*/
.contenedor-mariscos-1 .titulo,
.contenidor-mariscos-2 .titulo{
    background: rgba(49, 78, 243, 0.89);
}

/* ==== UNDÉCIMA SECCIÓN DOBLE - MENÚ INFANTIL Y EXTRAS ==== */

/* ============= DUODÉCIMA SECCIÓN - POSTRES =============== */

/* ============ TRIGÉSIMA SECCIÓN - LICORES 6 ============= */
.contenedor-info-producto.contenedor-licores-1 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 23%;
    top: 50%;
    line-height: 100%;
    color: rgb(209, 172, 8);
}

.contenedor-info-producto.contenedor-licores-1 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 22%;
    top: 40%;
    color: rgb(209, 172, 8);

}

.contenedor-info-producto.contenedor-licores-2 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 22%;
    top: 50%;
    color: rgb(255, 0, 149);
}

.contenedor-info-producto.contenedor-licores-2 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 22%;
    top: 40%;
    color: rgb(255, 0, 149);
}

.contenedor-info-producto.contenedor-licores-3 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 25%;
    top: 50%;
    color: rgb(209, 172, 8);
}

.contenedor-info-producto.contenedor-licores-3 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 25%;
    top: 40%;
    color: rgb(255, 0, 149);
}

.contenedor-info-producto.contenedor-licores-4 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 20%;
    top: 50%;
    line-height: 100%;
    color: rgb(47, 255, 227);
}

.contenedor-info-producto.contenedor-licores-4 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 22%;
    top: 30%;
    line-height: 100%;
    color: rgb(255, 0, 149);
}

.contenedor-info-producto.contenedor-licores-5 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 22%;
    top: 50%;
    line-height: 95%;
    color: rgb(209, 172, 8);
}

.contenedor-info-producto.contenedor-licores-5 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 23%;
    top: 30%;
    color: rgb(255, 0, 149);
}

.contenedor-info-producto.contenedor-licores-6 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 21%;
    top: 55%;
    line-height: 100%;
    color: rgb(255, 0, 34);
}

.contenedor-info-producto.contenedor-licores-6 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 23%;
    top: 27%;
    color: rgb(209, 172, 8);

}
#carta-menu-14 .titulo span{
    background: indigo;  
}

/* ================================================================ */
/* ======== ESTILOS GENERALES DE DESCRIPCIÓN DE PLATOS Y PRECIOS  =========== */
.descripcion{
    display: flex;
    position: absolute;
    width: 40%;
    height: auto;
    top: 20%;
    font-size: 12px;
    font-family: Mayan;
    /* border: 1px solid #333; */
    justify-content: flex-start;  
}
.descripcion p {
    text-align: center;   
}

.descripcion  span {
    background: rgba(0,0,0,0.5);
    border-top: 4px solid rgba(0, 0, 0, 0.02); 
    line-height: 1.4em;
    color: #fff;
}

.contenedor-info-producto-superior .descripcion{
    right:2%;
    justify-content: center;
}

.contenedor-info-producto-inferior .descripcion{
    left: 2%;
    justify-content: center;
}

.contenedor-info-producto-intermedio .descripcion{
    left: 5%;
    justify-content: center;
    font-size: 15px;
}


/* =============================================================== */
/* ======== ESTILOS PARTICULARES DE DESCRIPCIÓN DE PLATOS =======*/

/* =========== PRIMERA SECCIÓN - PA' COMPARTIR ================= */

/* ============ SEGUNDA SECCIÓN - PA' ENTRARLE SOLITO ==========*/

.contenedor-pa-entrarle-solito-2 .descripcion p{
    font-size: 15px;

}

/* ============== TERCERA SECCIÓN - SOPAS =================== */
.contenedor-sopas-1 .descripcion span{
    background: rgba(255, 251, 3, 0.3);
    color: brown;
}

/* ======== CUARTA SECCIÓN DOBLE - ENSALADAS Y TACOS =========*/
.contenedor-ensaladas-tacos .contenedor-info-producto-superior span{
     background: rgba(192, 28, 6, 0.7); 
}


.contenedor-ensaladas-tacos .contenedor-info-producto-inferior span{
    background: rgba(255, 73, 1, 0.4); 
}

/* ======== QUINTA SECCIÓN - LOS MERO MERO MEXICANOS ========*/
.contenedor-los-mero-mero-1 span, .contenedor-los-mero-mero-2 span, .contenedor-los-mero-mero-3 span{
    background:rgba(116, 10, 2, 0.3);
}

/* ================= SEXTA SECCIÓN - LAS ESTRELLAS ============== */
.contenedor-las-estrellas-1 span{
    background: rgb(75, 6, 238, 0.2);
}

/* ========== SÉPTIMA SECCIÓN - LO MEJOR DE LO NUESTRO =========== */

.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior .descripcion{
    top: 30%;
}

/* ========== OCTAVA SECCIÓN - PECHUGAS PIO PIO ================ */


/* ================== NOVENA SECCIÓN - Y EL PUERCO ============ */

/* ================= DÉCIMA SECCIÓN - MARISCOS ============== */

/* ===== UNDÉCIMA SECCIÓN DOBLE - MENÚ INFANTIL Y EXTRAS ===== */

/* ============= DUODECIMA SECCIÓN - POSTRES =============== */

/* ============= TRIGÉSIMA SECCIÓN - LICORES ============== */
#carta-menu-14 .contenedor-info-producto .descripcion{
    bottom: 0;
    margin: auto;
}

#carta-menu-14 .descripcion  span {
    background: none;
  
}
/* ============ CUATRIGÉSIMA SECCIÓN - BEBIDAS ============*/

/* ====================================================================== */
/* ================= PRECIOS PLATOS ESTILOS GENERALES ================== */
/* ==================================================================== */

.precio-plato-superior,
.precio-plato-inferior {
	background: initial;
	border-top: initial;
	color: rgb(255, 255, 255);
	font-size: 37px;
	position: absolute;
	bottom: 0;
	/* border: 1px solid bisque; */
	width: 150px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.precio-plato-superior {
	right: 0;
}

.precio-plato-inferior{
    left: 0;
}

.descripcion-precio {
	display: flex;
	position: absolute;
	width: 262px;
	height: auto;
	font-size: 14px;
	font-family: 'Bison';
	color: #fff;
	text-transform: uppercase;
	right: 0;
	bottom: 0;
}

.descripcion-precio div{
    margin-right: 1em;
}

.descripcion-precio p{
    text-align: end;
    align-self: flex-end;
}

/* ================= PRECIO PLATOS ESTILOS INDIVIDUALES ========================*/

/*============================== PA COMPARTIR ================================ */

.contenedor-pa-compartir-2 .contenedor-info-producto-inferior .descripcion-precio {
	flex-direction: column;
	width: 45%;
	left: 0;
	bottom: 1em;
}

.contenedor-pa-compartir-2 .contenedor-info-producto-inferior .descripcion-precio div{
    display: flex;
    margin-right: 0.4em;
    justify-content: space-evenly;
}

.contenedor-pa-compartir-2 .contenedor-info-producto-inferior .descripcion-precio div p{
    width: 50px;
    font-family: 'Mayan';
    font-size: 10px;
    text-align:center;
  
}

.contenedor-pa-compartir-2 .contenedor-info-producto-inferior .descripcion-precio div p span{
    text-align:center;
    font-size: 28px;
}

/*========================== PA' ENTRARLE SOLITO ================================*/

.contenedor-pa-entrarle-solito-2 .contenedor-info-producto-intermedio .descripcion-precio{
    left: 10px;
    width: 190px;
}

.contenedor-pa-entrarle-solito-2 .contenedor-info-producto-intermedio .descripcion-precio div{
    display: flex;
    margin-right: 0.4em;
    justify-content: space-evenly;
}

.contenedor-pa-entrarle-solito-2 .contenedor-info-producto-intermedio .descripcion-precio div p {
	width: 93px;
	font-family: 'Mayan';
	font-size: 10px;
	text-align: center;
}

.contenedor-pa-entrarle-solito-2 .contenedor-info-producto-intermedio .descripcion-precio div p span{
    text-align:center;
    font-size: 28px;
}

/* =================================== SOPAS  ========================================= */

.contenedor-sopas-1 .contenedor-info-producto-superior .descripcion-precio div p{
    color: ;
}

/* =================================================================== */
/* ==================== MENU INFANTIL ================================*/
/* ================================================================= */
.menu-infantil{
    width: 90%;
    margin: auto;
}

/*=============== IMAGENES ===================*/

.imagenes-parte-superior{
    display: flex;
    width: 100%;
    height: auto;
    /* justify-content: space-between; */
    margin: auto;
    margin-top: 30%;
}

.contenedor-rayuela img{
    width: 150%;
  
}

.contenedor-mariachi-calavera img{
    width: 120%;
    margin-left: 1em;
}

.imagenes-parte-inferior-1{
    display: flex;
    width: 80%;
    height: auto; 
    justify-content: center;
    margin: auto;
    margin-top: -3em;
}

.contenedor-chavo img{
    display:block;
    width: 80%;
    margin: auto;
    margin-top: 50%;
}

.contenedor-coco img {
	display: block;
	width: 90%;
	margin: auto;
	margin-top: -0.8em;
}

.contenedor-balero img {
    display:block;
    width: 73%;
    margin: auto;
    margin-top: 10%;
}

.imagenes-parte-inferior-2 {
	display: flex;
	width: 90%;
	height: auto;
	justify-content: center;
	margin: auto;
	margin-top: -2em;
}

.contenedor-pinata img {
    display:block;
    width: 70%;
    margin-top: 40%;
}

.contenedor-spedy img {
    display:block;
    width: 70%;
    margin: auto;
    margin-top: 30%;
}

.contenedor-nono img {
    width: 90%;
}

/* ========== CONTENEDORES DESCRIPCIÓN PLATOS ============= */

.contenido-1{
    width: 80%;
}

.contenido-2{
    width: 80%;
}

/* ============ TITULOS =================== */

.contenido-1 .contenido-platos{
    width: 100%;
    margin-bottom: 1.5em;
    transform: rotateZ(-10deg);
}

.contenido-2 .contenido-platos {
	width: 100%;
	margin-bottom: 2.5em;
	transform: rotateZ(10deg);
}

.contenido-2 .contenido-platos:nth-child(2){
    margin-right: 10px;
}

.contenido-platos h2{
    width: 70%;
    font-size: 20px;
    text-align: center;
    margin: auto;
    color: #fff;
    margin-bottom: 0.4em;
    font-family: 'Rye', cursive;
}

.contenido-1 .contenido-platos:nth-child(1) h2 span{
    background: #872F83;
    padding: 4px;
}

.contenido-platos:nth-child(2) h2 span{
    background: #E55B2B;
    padding: 4px;
}

.contenido-2 .contenido-platos:nth-child(1) h2 span{
    background: #E12060;
    padding: 4px;
}

.contenido-2 .contenido-platos:nth-child(2) h2 span{
    background: #27A5DD;
    padding: 4px;
}


/* =========== DESCRIPCIÓN ============== */
.contenido-platos p{
    width: 80%;
    font-size: 13px;
    text-align: center;
    color: #fff;
    margin: auto;
    font-family: Mayan;
}
.contenido-1 .contenido-platos:nth-child(1) p span{
    background: #BE2981;
    padding: 2px;
}

.contenido-1 .contenido-platos:nth-child(2) p span{
    background: #EE8E22;
    padding: 2px;
}

.contenido-2 .contenido-platos:nth-child(1) p span{
    background: #E55944;
    padding: 1px;
}

.contenido-2 .contenido-platos:nth-child(2) p span{
    background: #087DBB;
    padding: 2px;
}


/* =========================================================================== */
/* ================ MENÚ LICORES BOTELLAS E INDIVIDUALES ==================== */
/* ========================================================================= */

.fp-tableCell {
    vertical-align: initial !important;
}

.contenedor-menu-botellas{
     width: 90%;
     height: auto;
     color: #fff;
     /* background: red; */
     margin: auto;
     margin-top: 6em;
 }

.contenedor-menu-botellas.contenedor-2{
    margin-top: 4em;
}

.contenedor-nombres-precios{
    display: flex;
    justify-content: space-around;
}

 .contenedor-titulo-botellas {
	display: inline-block;
	width: 60%;
	font-family: 'Rye', cursive;
	font-size: 18px;
	margin-left: 0;
	min-width: 195px;
}

 .contenedor-titulo-botellas h2 span{
    background: #911442;
    margin-left: 0.5em;
}

/* =============TITULO PAGINA 2 DE LICORES BOTELLAS====================== */
.contenedor-titulo-botellas-2 {
	width: 80%;
	margin: auto;
	margin-bottom: 0.2em;
}

.contenedor-titulo-botellas-2 h2{
    font-family: Mayan;
    font-size: 32px;
}
 
/* ========== IMAGEN DISEÑO PAGINA 2 ========== */
.contenedor-titulo-diseno {
	width: 100%;
    margin: auto;
}

.contenedor-titulo-diseno img {
    display: block;
	width: 31%;
	margin: auto;
	
}

/* ======= ÍCONOS BOTELLAS Y COPAS 1 ======= */
.contenedor-iconos-titulo {
	display: flex;
	width: 95%;
	justify-content: space-between;
}

.contenedor-imagen-botella{
    display: inline-block;
    /* border: 1px solid rgb(255, 255, 255); */
    margin-left: em;
}

.contenedor-imagen-botella img{
    margin: -10px 0;
}

.contenedor-imagen-copa{
    display: inline-block;
    /* border: 1px solid rgb(255, 255, 255); */
    margin-right: 0;
}

.contenedor-imagen-copa img{
    margin: -5px 8px;
}

 /* ======= ÍCONOS BOTELLAS Y COPAS 2 ======= */
.contenedor-iconos-titulo-2 {
	display: flex;
    width: 48%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
	margin-left: auto;
}

 /* ======= NOMBRES BOTELLAS ======= */

 .contenedor-nombres-botellas,
 .contenedor-precios-botellas,
 .contenedor-precios-individuales{
     white-space: nowrap;
     width: 50%;
     height: 100%;
     font-family: Bison;
     overflow: hidden;
     text-overflow: 'clip';
     margin-left: 0.5em;
     margin-top: 1.5em;
     /* line-height: 1.2em; */
 }

 .contenedor-precios-botellas{
    width: 15%;
    margin-left: 1.5em;
    margin-top: 1.5em;
}

.contenedor-precios-individuales {
	width: 14%;
	margin-left: 1.2em;
	margin-top: 1.5em;
}

 

 .contenedor-2 .contenedor-nombres-botellas,
 .contenedor-2 .contenedor-precios-botellas,
 .contenedor-2 .contenedor-precios-individuales{
    margin-top: 0;
 }

 .contenedor-2 p span{
     background: #911442;
 }
 
/* ================================ */
 /* ========== VINOS ============= */
 /* ============================= */

.contenedor-vinos h2{
     font-family: Mayan;
}

.contenedor-vinos img {
	width: 30%;
	margin: auto;
	display: block;
}

.contenedor-3 .contenedor-nombres-botellas {
    font-size: 15px;
	width: 60%;
}

.contenedor-3 .contenedor-precios-botellas{
    font-size: 15px;
}

.contenedor-3 .contenedor-precios-individuales{
    font-size: 15px;
}


.contenedor-iconos-titulo-3 {
	display: flex;
	width: 43%;
	margin-left: auto;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 0.4em;
}

.contenedor-iconos-titulo-3 .contenedor-imagen-botella {
    width: 35%;
    
}

.contenedor-iconos-titulo-3 .contenedor-imagen-botella img{
	width: 80%;
}

.contenedor-iconos-titulo-3 .contenedor-imagen-copa {
    width: 35%;
    margin-right: 0.5em ;
}

.contenedor-iconos-titulo-3 .contenedor-imagen-copa img{
	width: 80%;
}


/* =================================================================== */
/* ========== TERCERA SECCIÓN DE MENÚ LICORES BOTELLAS ============= */
/* ================================================================= */
.contenedor-menu-botellas.contenedor-4{
   font-size: 18px;
}

.contenedor-4 .contenedor-iconos-titulo{
    margin-top: 1em;
}

.contenedor-4 .contenedor-titulo-botellas{
    font-size: 16px;
}
.contenedor-4 .contenedor-titulo-botellas h2 {
	background: #911442;
	width: 80%;
	margin: auto;
}

.contenedor-4 .contenedor-titulo-botellas h2 span {
	margin: auto;
}

.contenedor-4  .contenedor-imagen-botella img {
	width: 80%
}
.contenedor-4 .contenedor-imagen-copa img {
    width: 59%;
}

.contenedor-4 .contenedor-nombres-botellas,
.contenedor-4 .contenedor-precios-botellas,
.contenedor-4 .contenedor-precios-individuales{
    margin-top: 1em;
    line-height:1.1em;
}

/* ================================================================ */
/* ========================== BEBIDAS ============================ */
/* ============================================================== */

.contenedor-menu-bebidas{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 6em;
}

.contenedor-menu-bebidas .contenedor-1, 
.contenedor-menu-bebidas .contenedor-2, 
.contenedor-menu-bebidas .contenedor-3, 
.contenedor-menu-bebidas .contenedor-4{
    width: 100%;
    height: 90px;
    display: flex;
    /* border: 1px solid #fff; */
    font-family: 'Rye', cursive;
    font-size: 12px;
    color:#BB163C;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    line-height: 1.5em;
}

.contenedor-menu-bebidas .contenedor-2{
    width: 80%;
    margin-top: -15px;
    justify-content: space-between;
}

.contenedor-menu-bebidas .contenedor-3{
    width: 90%;
    height: 60px;
    margin-top: -20px;
    justify-content: space-between;
}

.contenedor-menu-bebidas .contenedor-4{
    height: 100%;
    margin-top: 2em;
    line-height: 2em;
}

.bebida p{
    font-family: 'Mayan';
    font-size: 22px;
    color: #03582D;
}

.contenedor-menu-bebidas .contenedor-1 .bebida:nth-child(2){
    align-self: flex-end;
}

.contenedor-menu-bebidas .contenedor-2 .bebida:nth-child(1){
    align-self: flex-start;
}

.contenedor-menu-bebidas .contenedor-2 .bebida:nth-child(2){
    align-self: flex-start;
}

.contenedor-menu-bebidas .jugos {
	position: relative;
	width: 100%;
	height:250px;
	align-self: center;
}

.contenedor-menu-bebidas .jugos div{
    position: absolute;
}

.contenedor-menu-bebidas .jugos div:nth-child(1){
    top:0;
    right: 22px;
}
.contenedor-menu-bebidas .jugos div:nth-child(2) {
	top: 70px;
	right: 32px;
	line-height: 1.5em;
}
.contenedor-menu-bebidas .jugos div:nth-child(3){
    top:50%;
    right: 22px;
	line-height: 1.5em;
}
.contenedor-menu-bebidas .jugos div:nth-child(4){
    bottom:20px;
    right: 10px;
	line-height: 1.5em;
}

.contenedor-menu-bebidas .jugos .titulo h2 {
	color: #fff;
	line-height: 1em;
	font-size: 25px;
}

.contenedor-menu-bebidas .jugos h2 span{
    background: #633187;
}

.contenedor-menu-bebidas .jugos div h2{
    color: #633187;
}

.contenedor-menu-bebidas .jugos p{
    font-family: 'Mayan';
    font-size: 20px;
    color: #812367;

}

.contenedor-menu-bebidas .contenedor-4 img {
    width: 50%;
    height: 50%;
}


/* ========== SLIDE 2 BEBIDAS============= */

.contenedor-menu-bebidas-2 {
    position: relative;
	width: 100%;
	height: 90%;
	margin: auto;
    margin-top: 1em;
    overflow:hidden;
}

.contenedor-menu-bebidas-2 .contenedor-adorno img {
	position: absolute;
	width: 80%;
	top: 0;
	bottom: 0;
    margin: auto;
    left: -20px;
}

.contenedor-las-chelas {
    position: relative;
    display: flex;
	flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: center;
}

.contenedor-las-chelas h2 {
	color: #fff;
	font-family: 'Rye', cursive;
    font-size: 23px;
    margin-bottom: 1em;
}

.contenedor-las-chelas h2 span{
    background: #000;
    padding: 0.3em;
}

.contenedor-las-chelas p{
    margin-left: 2em;
    margin-bottom: 0.2em;
}

.contenedor-las-chelas p .color {
	background: red;
	font-size: 15px;
	font-family: 'Bison';
	color: #fff;
	padding: 0.1em;
}

.contenedor-menu-bebidas-2 .contenedor-marcas {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 27%;
	height: 100%;
	right: 1em;
	justify-content: center;
}

.contenedor-menu-bebidas-2 .contenedor-marcas img:nth-child(1),
.contenedor-menu-bebidas-2 .contenedor-marcas img:nth-child(2),
.contenedor-menu-bebidas-2 .contenedor-marcas img:nth-child(3),
.contenedor-menu-bebidas-2 .contenedor-marcas img:nth-child(4),
.contenedor-menu-bebidas-2 .contenedor-marcas img:nth-child(5)
{
    width: 90%;
    margin-bottom: 2em;
}

.contenedor-menu-bebidas-2 .contenedor-marcas img:nth-child(1),
.contenedor-menu-bebidas-2 .contenedor-marcas img:nth-child(5){
    align-self: flex-start;
    margin-left: -1.5em;
}

.contenedor-menu-bebidas-2 .contenedor-marcas img:nth-child(2),
.contenedor-menu-bebidas-2 .contenedor-marcas img:nth-child(4){
    align-self: center;
}

.contenedor-menu-bebidas-2 .contenedor-marcas img:nth-child(3) {
	align-self: flex-end;
	margin-right: -0.5em;
}

.contenedor-menu-bebidas-2 .aclaracion {
	position: absolute;
	font-size: 21px;
	font-family: 'Bison';
	color: #F8E825;
	margin: auto;
	bottom: 3em;
	right: 0;
	left: 0;
}

.contenedor-menu-bebidas-2 h2.aclaracion span{
    background: #000;
    padding: 0.1em 1em;
}


/*================= CLASES DE FULL PAGE ESTILOS =============== */
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev{
    top: 0;
    bottom: 0;
    margin: auto;
}

.fp-controlArrow.fp-prev{
    left: 2%;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next{
    right: 2%;
    border-width: 12px 0px 12px 12px;
    border-color: transparent transparent transparent #fff;
}

/* ================= ICONO BAJAR ================= */
.contenedor-icono{
    position: absolute;
    z-index: 199;
    bottom: 3%;
    left: 45%;
    font-size: 25px;
    animation: bajar-subir 1s ease infinite;
}

/* =============== ICONO BAJAR PAGINA DE INICIO ========== */
.header-footer .contenedor-icono{
    position: absolute;
    z-index: 199;
    bottom: 53%;
    left: 45%;
    font-size: 40px;
    z-index: 700;
    animation: bajar-subir 1s ease infinite;
}

.contenedor-icono a{
    color: #fff;
}

@keyframes bajar-subir{
    0%{ transform: translateY(20px); }
    25%{ transform: translateY(0px); }
    100%{ transform: translateY(20px); }
}


/* =============================================== */
/* ================== RESPONSIVE ================ */
/* ============================================= */

@media only screen and (max-height: 600px) {

    .titulo-paginas-menu{
        width: 30%;
        height: 30%;
    }
    
    .contenedor-info-producto .titulo{
        font-size: 20px
    }

    .contenedor-info-producto .descripcion{
        font-size: 12px;
        
    }

    /* ============================================================ */
    /* ================ MENÚ LICORES BOTELLAS ==================== */
    /*============================================================*/
    
} 

@media only screen and (max-height: 680px) {
    .contenedor-nombres-precios {
        font-size: 16px;
        line-height: 1.2em;
      
    }
}


@media only screen and (max-height:804px){
    .contenedor-info-producto .contenedor-info-producto-inferior {
        position: relative;
        width: 100%;
        height: 40vh;
        /* background: rgb(17, 230, 195); */
    }
}



