/*================= FUENTES ==========================*/
@font-face{
    font-family: 'Mayan';
    src: url(../fonts/Mayan\ 2.ttf);
}
@font-face{
    font-family: 'Tequila';
    src: url(../fonts/MexicanTequila.ttf);
}

/*============== ESTILOS GENERALES =================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.full-page{
    /* background: rgb(191, 230, 173); */
    width: 100%;
    height: 100vh;
}

/* ======================== CLASES DE FULLPAGES ========================*/

#fp-nav ul li a span{
    background: orange;
}

#fp-nav ul li .fp-tooltip{
    color: orange;
}

/* =====================================================  */
/*===================== CONTENIDO   =================== */
/* ================================================== */

/* ================CONTENDIDO DEL FOOTER ======================*/

.header-footer{
    background: url(../imagenes/Imagenes-menu/Carta-Menu-1.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;

}

/* ========================  CONTENEDOR DE GRID ============================*/

.contenedor-grid{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 300;

}

/* ======================== CSS GRID ============================*/
.contenedor-grid .grid{
    width: 100%;
    height: 100%;
    display:grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: "logo logo logo-2"
                         "aside-izquierda . aside-derecha"
                         "footer footer footer";

}

/* ================ LOGOTIPOS =================== */

/* ====== LOGOTIPO LA VECIDAD DE LOS CUATES ===*/

.contenedor-logo-principal{
    grid-area: logo;
}

.contenedor-logo-principal img{
    width: 110px;
    margin-top: 35px;
    margin-left: 7px;
}

/*==================== LOGOTIPO CUATES MÁS CHIDOS ==================*/
.contenedor-logo-2{
    grid-area: logo-2;
    display:flex;
    /* border: green 1px solid; */
    justify-content: flex-end;
    align-items: flex-end;
}

.contenedor-logo-2 a{
    margin-bottom: 10px;
    margin-right: 10px ;
}


.contenedor-logo-2 img{
    width: 77px;
}


/* ====================== FOOTER ========================== */

.footer{
    display: flex;
    grid-area: footer;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid lightgreen; */
    z-index: 400;
}

.footer .contenedor-footer{
    display:flex;
    width: 100%;
    height: 200px;  
    position: relative;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid lightpink; */

}

.footer .contenedor-footer .caja-1{
    width: 100%;
    height: 60%;
    position: absolute;
    background: #2C0D10;
    box-shadow: 0px 0px 40px rgba(0,0,0,10);
    z-index: 100;
}

.footer .contenedor-footer .caja-2{
    display:flex;
    width: 100%;
    height: 40%;
    position: absolute;
    z-index: 0;
    align-self: flex-start;
    /* border: 1px solid #fff; */
}

.footer .patron-footer{
    width: 100%;
    position: absolute;
    bottom: 41px;
    z-index: 400;
}

.footer .imagen-mitad-del-mundo{
    display:flex;
    width: 100%;
    position: absolute;
    bottom: 60px;
    justify-content:center;
    z-index: 200;
}

.imagen-mitad-del-mundo img.monumento{
    position: relative;
    width: 25%;
    /* background:red; */
    z-index: 500;
}

.contenedor-alas{
    display:flex;
    width: 100%;
    position: absolute;
    bottom: 33%;
    justify-content: space-evenly;
    z-index: 100;
}

.contenedor-alas img.alas-izq{
    position: relative;
    width: 17%;
    height: auto;
    z-index: 500;
    margin-right: 25%;
    margin-bottom: 47px;
    animation: animacion-alas-izq 1.5s 3s ease-in-out alternate-reverse  infinite;
    animation-fill-mode: forwards;
}

.contenedor-alas img.alas-der{
    position: relative;
    width: 17%;
    height: auto;
    z-index: 300;
    margin-left: 24%;
    margin-bottom: 47px;
    transform: scaleX(-1);
    animation: animacion-alas-der 1.5s 3s ease-in-out alternate-reverse infinite;
    animation-fill-mode: forwards;
}

/* ANIMACIONES ALAS */

@keyframes animacion-alas-izq{
    0% {transform: rotate(-10deg) translateY(15px);}
    20% {transform: rotate(0deg) translateY(0px);}
    75% {transform: rotate(-15deg) translateY(15px);}
    100% {transform: rotate(0deg) translateY(0px);}
}
@keyframes animacion-alas-der{
    0% {transform: rotate(10deg) scaleX(-1) translateY(15px);}
    20% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
    75% {transform: rotate(15deg) scaleX(-1) translateY(15px);}
    100% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
}


/* ======== IMAGENES FOOTER COSTADOS ========== */

.footer .imagen-izquierda-footer{
    display: flex;
    width: 100%;
}

.footer .imagen-izquierda-footer img {
    width: 26%;
    position: absolute;
    align-self: flex-end;
}

.footer .imagen-derecha-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
} 

.footer .imagen-derecha-footer img{
    width: 26%;
    position: absolute;
    align-self: flex-end;
}

/* ================= REDES SOCIALES ======================== */

.footer .redes-sociales{
    display: flex;
    justify-content: center;
    font-size: 22px;
    z-index: 500;
}


.footer .redes-sociales a{
    display: flex;
    width: 40px;
    height: 40px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin:  7px;
    color: #2C0D10;
    transition: 0.4s;
    margin-top: -80px;
}

.footer .redes-sociales a:hover{
    background: #2C0D10;
    color: #fff;
    font-size: 27px;
}

.redes-sociales img{
    position: absolute;
    width: 40px;
}


/* ====================================================================== */
/* ================== CONTENIDO PRINCIPAL SLIDES MENU ================== */
/* ==================================================================== */

.contenedor-slide {
    display: flex;
    position: relative;
    width: 100% !important;
    height: 100vh;
}

/*=================== ESTILOS IMAGENES FONDO DE SLIDES ==================*/
#carta-menu-1, #carta-menu-2, #carta-menu-3,
#carta-menu-4, #carta-menu-5, #carta-menu-6,
#carta-menu-7, #carta-menu-8, #carta-menu-9,
#carta-menu-10, #carta-menu-11, #carta-menu-12,
#carta-menu-13, #carta-menu-14, #carta-menu-15
{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-2.png");
    background-position: center center;
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    z-index: 100;
}

#carta-menu-1{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-1.png");
}
#carta-menu-2{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-2.png");
}
#carta-menu-3{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-3.png");
}
#carta-menu-4{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-4.png");
}
#carta-menu-5{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-5.png");
}
#carta-menu-6{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-6.png");
}
#carta-menu-7{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-7.png");
}
#carta-menu-8{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-8.png");
}
#carta-menu-9{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-9.png");
}
#carta-menu-10{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-10.png");
}
#carta-menu-11{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-11.png");
}
#carta-menu-12{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-12.png");
}
#carta-menu-13{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-13.png");
}
#carta-menu-14{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-14.png");
}
#carta-menu-15{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-15.png");
}

/* ================== TÍTULO DE PAGINAS DEL MENÚ ================ */

.contenedor-slide .titulo-paginas-menu{
    position: absolute;
    width: 60%;
    height: auto;
    right: 0;
    left: 0;
    top: 10px;
    margin: auto;
    /* background: red; */
}
.titulo-paginas-menu img{
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    /* background: blue; */
}

/* ===== CONTENEDOR IMAGENES DE PLATOS E INFORMACIÓN ===== */
 
.contenedor-info-producto{
    position: relative;
    width: 100%;
    height: 90%;
    z-index: 300;
    margin: auto;
    margin-top: 20%;
}

.contenedor-info-producto .contenedor-info-producto-superior{
    /* position: ; */
    position: relative;
    width: 100%;
    height: 50%;
    /* border: 1px solid hotpink; */
}
.contenedor-info-producto .contenedor-info-producto-inferior{
    position: relative;
    width: 100%;
    height: 50%;
    /* border: 5px solid indigo; */
   
}


/* ====================== IMÁGENES PLATOS ====================== */
.contenedor-info-producto img{
    width: 65%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    /* border: 1px solid lavender; */
}

.contenedor-info-producto-superior img{
    left:0;
}
.contenedor-info-producto-inferior img{
    right: 0;
}

/* ===== IMAGENES PERSONALIZADAS DE ACUERDO A SU TIPO ===*/

/* ================= SECCION 1  =======================*/
.contenedor-pa-compartir-1 .contenedor-info-producto-superior img{
    width: 80%;
    transform: RotateZ(10deg);
}

.contenedor-pa-compartir-2 .contenedor-info-producto-superior img{
    width: 60%;
}

.contenedor-pa-compartir-2 .contenedor-info-producto-inferior img{
    width: 70%;
}

/* =============== SECCION 2 =========================*/

.contenedor-pa-entrarle-solito-1 .contenedor-info-producto-superior img{
    width: 60%;

}

.contenedor-pa-entrarle-solito-1 .contenedor-info-producto-inferior img{
    width: 70%;

}

/* ============== SECCION 3 ========================*/
.contenedor-sopas-1 .contenedor-info-producto-superior img{
    width: 55%;
}

.contenedor-sopas-1 .contenedor-info-producto-inferior img{
    width: 60%;
}

/* ============= SECCIÓN 4 ========================*/

.contenedor-los-mero-mero-1 .contenedor-info-producto-superior img{
    width: 75%;
    transform: scaleX(-1);
}

.contenedor-los-mero-mero-1 .contenedor-info-producto-inferior img{
    width: 70%;
}

.contenedor-los-mero-mero-2 .contenedor-info-producto-inferior img{
    width: 72%;
}

.contenedor-los-mero-mero-2 .contenedor-info-producto-superior img{
    width: 76%;
    transform: scaleX(-1);
}

.contenedor-los-mero-mero-3 .contenedor-info-producto-superior img{
    width: 70%;
    transform: rotateZ(20deg);
}

/* ================== SECCIÓN 5 ============================ */

.contenedor-las-estrellas-1 .contenedor-info-producto-superior img{
    width: 70%;
    transform: rotateY(180deg);
}

.contenedor-las-estrellas-1 .contenedor-info-producto-inferior img{
    width: 58%;
}

/* ================= SECCIÓN 6 =========================== */

.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior img{
    width: 65%;
}

.contenedor-nuestro-ganado-1 .contenedor-info-producto-inferior img{
    width: 60%;
    transform: rotateZ(13deg);
}

.contenedor-nuestro-ganado-2 .contenedor-info-producto-superior img{
    width: 65%;
    transform: rotateZ(20deg);
}

/* ================== SECCIÓN 7 ===========================*/
.contenedor-pechugas-pio-pio-1 .contenedor-info-producto-superior img{
    width: 52%;
    transform: rotateZ(30deg);
}

.contenedor-pechugas-pio-pio-1 .contenedor-info-producto-inferior img{
    width: 52%;
    transform: rotateZ(29deg);
}

/* ===================== SECCIÓN 8 ==================== */
.contenedor-y-el-puerco-1 .contenedor-info-producto-superior img {
    width: 55%;
    transform: rotateZ(22deg);
}

.contenedor-mariscos-1 .contenedor-info-producto-superior img {
    width: 70%;
    transform: rotateZ(-5deg);
}

.contenedor-mariscos-1 .contenedor-info-producto-inferior img {
    width: 77%;
    transform: rotateZ(-25deg) scaleY(-1) scaleX(-1);
}
/* =================== SECCIÓN 9 ====================== */

.contenedor-postres-1 .contenedor-info-producto-superior img{
    width: 70%;
    transform: rotateZ(-5deg);
}

/* ================== SECCION 10 =======================*/

.contenedor-licores-1 .contenedor-info-producto-superior img{
    width: 26%;
    left: 15%;
}
.contenedor-licores-1 .contenedor-info-producto-inferior img{
    width: 36%;
    right: 13%;
    bottom: 15%;
}

.contenedor-licores-2 .contenedor-info-producto-superior img{
    width: 40%;
    left: 10%;
}


.contenedor-licores-2 .contenedor-info-producto-inferior img{
    width: 35%;
    right: 10%;
    bottom: 15%;
}

.contenedor-licores-3 .contenedor-info-producto-superior img{
    width: 30%;
    left: 10%;
}


.contenedor-licores-3 .contenedor-info-producto-inferior img{
    width: 35%;
    right: 10%;
    bottom: 15%;
}

.contenedor-licores-4 .contenedor-info-producto-superior img{
    width: 35%;
    left: 10%;
    top: 15%;
}


.contenedor-licores-4 .contenedor-info-producto-inferior img{
    width: 35%;
    right: 15%;
    bottom: 25%;
}

.contenedor-licores-5 .contenedor-info-producto-superior img{
    width: 30%;
    left: 10%;
}


.contenedor-licores-5 .contenedor-info-producto-inferior img{
    width: 25%;
    right: 15%;
    bottom: 55%;
}

.contenedor-licores-6 .contenedor-info-producto-superior img{
    width: 37%;
    left: 10%;
}


.contenedor-licores-6 .contenedor-info-producto-inferior img{
    width: 33%;
    right: 10%;
    bottom: 55%;
}

/*============ ESTILOS TÍTULO DE PLATOS Y DESCRIPCIÓN =============*/

.contenedor-info-producto .titulo{
    position: absolute;
    color: #fff;
    font-family: 'Tequila';
    font-size: 24px;
    top: 8%;
    text-transform: uppercase;
    background: #f07909;
    line-height: 25px;
}

.contenedor-info-producto-superior .titulo{
    right: 12%;
}

.contenedor-info-producto-inferior .titulo{
    left: 5%;
}

/* ======== PERSONALIZACIÓN DE TÍTULOS ==========*/
/* =================SECCION 1 ===================*/

.contenedor-pa-compartir-1 .titulo{
    background: rgb(247, 121, 3);
}

.contenedor-pa-compartir-1 .contenedor-info-producto-inferior .titulo{
    background: rgb(187, 21, 181);
}

.contenedor-pa-compartir-2 .contenedor-info-producto-inferior .titulo{
    background: rgb(187, 21, 181);
}

/* ================ SECCIÓN 2 ================= */
.contenedor-pa-entrarle-solito-1 .titulo{
    background: rgb(236, 22, 68);
}

.contenedor-pa-entrarle-solito-2 .titulo{
    background: red;
}

/* ================ SECCIÓN 3 ================ */
.contenedor-sopas-1 .titulo{
    background: rgb(176, 0, 182);  
}

.contenedor-sopas-1 .contenedor-info-producto-inferior .titulo{
    background: red  
}

.contenedor-los-mero-mero-1 .titulo,
.contenedor-los-mero-mero-2 .titulo,
.contenedor-los-mero-mero-3 .titulo{
    background: red;
}

/* =============== SECCIÓN 4 ================*/
.contenedor-las-estrellas-1 .titulo{
    background: rgb(5, 196, 5);
}

/* ============== SECCIÓN 5 ============== */

.contenedor-mariscos-1 .titulo,
.contenidor-mariscos-2 .titulo{
    background: rgba(248, 18, 18, 0.89);
}

/* ============== SECCIÓN 6 ============ */

.contenedor-info-producto.contenedor-licores-1 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 22%;
    top: 50%;
    line-height: 20px;
}

.contenedor-info-producto.contenedor-licores-1 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 20%;
    top: 40%;
    line-height: 20px;
}

/* ========= LO NEJOR DE NUESTRO GANANDO TÍTULO ========= */

.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior .titulo{
    background: transparent;
    line-height: 20px;
}


.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior .titulo span{
    background: orange;
}

.contenedor-licores-1 .titulo span{
    background: indigo;
   
}

/* ================= DESCRIPCIÓN ===================== */
.descripcion{
    display: flex;
    position: absolute;
    width: 60%;
    height: 50%;
    top: 20%;
    font-size: 12px;
    font-family: Mayan;
    /* border: 1px solid #333; */
    justify-content: flex-start;
    
}
.descripcion p {
    text-align: center;   
}

.descripcion  span {
    background-color: rgba(0,0,0,0.4);
    border-top: 4px solid rgba(0, 0, 0, 0.02); 
    line-height: 16px;
    color: #fff;
}

.contenedor-info-producto-superior .descripcion{
    right:0;
    justify-content:center;
}

.contenedor-info-producto-inferior .descripcion{
    left: 0;
    justify-content: center;
}

/* ========== PERSONALIZACIÓN DESCRIPCIÓN =========== */

/* ===========SECCION 2 ===========================*/

/* =============== SECCIÓN 3 ===========================*/

.contenedor-sopas-1 .descripcion span{
    background: rgba(255, 251, 3, 0.6);
    color: brown;
}

/* ================ SECCIÓN 4  ==================== */
.contenedor-los-mero-mero-1 span, .contenedor-los-mero-mero-2 span, .contenedor-los-mero-mero-3 span{
    background:rgba(116, 10, 2, 0.4);
}

/* ================ SECCIÓN 5 =================== */
.contenedor-las-estrellas-1 span{
    background: rgb(75, 6, 238, 0.4);
}

/*================ SECCIÓN 6 ====================*/

#carta-menu-14 .contenedor-info-producto .descripcion{
    /* background: red; */
    top: 10%;
    bottom: 0;
    margin: auto;
}

/* ========= LO NEJOR DE NUESTRO GANANDO DESCRIPCIÓN ========= */

.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior .descripcion{
    top: 24%;
}

/*================= CLASES DE FULL PAGE ESTILOS =============== */
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev{
    top: 0;
    bottom: 0;
    margin: auto;
}

.fp-controlArrow.fp-prev{
    left: 2%;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next{
    right: 2%;
    border-width: 12px 0px 12px 12px;
    border-color: transparent transparent transparent #fff;
}

/* ================= ICONO BAJAR ================= */
.contenedor-icono{
    position: absolute;
    z-index: 199;
    bottom: 3%;
    left: 45%;
    font-size: 25px;
    animation: bajar-subir 1s ease infinite;
}

/* =============== ICONO BAJAR PAGINA DE INICIO ========== */
.header-footer .contenedor-icono{
    position: absolute;
    z-index: 199;
    bottom: 53%;
    left: 45%;
    font-size: 40px;
    z-index: 700;
    animation: bajar-subir 1s ease infinite;
}

.contenedor-icono a{
    color: #fff;
}

@keyframes bajar-subir{
    0%{ transform: translateY(20px); }
    25%{ transform: translateY(0px); }
    100%{ transform: translateY(20px); }
}


/* =============================================== */
/* ================== RESPONSIVE ================ */
/* ============================================= */

@media only screen and (max-height: 600px) {

    .titulo-paginas-menu{
        width: 30%;
        height: 30%;
    }
    .contenedor-info-producto img{
        /* background: lightsteelblue; */
    }
    .contenedor-info-producto .titulo{
        font-size: 25px
    }

    .contenedor-info-producto .descripcion{
        font-size: 12px;
        
    }
    .contenedor-slide .titulo-paginas-menu{
        /* width: 60%; */
        /* background: red; */
    }
    
} 