/*================= FUENTES ==========================*/
@font-face{
    font-family: 'Mayan';
    src: url(../fonts/Mayan\ 2.ttf);
}
@font-face{
    font-family: 'Tequila';
    src: url(../fonts/Stronger.ttf);
}

@font-face{
    font-family: 'Mirian';
    src: url(../fonts/MyriadPro-Regular_1.otf)
}

/*============== ESTILOS GENERALES =================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.full-page{
    /* background: rgb(191, 230, 173); */
    width: 100%;
    height: 100vh;
}

/* ======================== CLASES DE FULLPAGES ========================*/

#fp-nav ul li a span{
    background: orange;
}

#fp-nav ul li .fp-tooltip{
    color: orange;
}

/* ======================= LOGOTIPOS ============================ */

/* ==================== LOGOTIPO STICKY ========================= */
.contenedor-logotipo-sticky{
    width: 20%;
    position: fixed;
    top: 6%;
    left: 10px;
    z-index: 1000;
}

/* =====================================================  */
/*===================== CONTENIDO   =================== */
/* ================================================== */

/* ========================  CONTENEDOR DE GRID ============================*/

.contenedor-grid{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 300;

}

/* ======================== CSS GRID ============================*/
.contenedor-grid .grid{
    width: 100%;
    height: 100%;
    display:grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: "logo logo logo-2"
                         "aside-izquierda boton aside-derecha"
                         "footer footer footer";

}



/* ======================================================== */
/* ====================== FOOTER ========================= */
/* ====================================================== */

/* ==================== BOTÓN RESERVAS ================= */

.boton-reservas-footer{
    position: relative;
    grid-area: boton;
    width: 100%;
    /* background: red; */
}

.boton-reservas-footer img{
    width: 170px;
    animation: giro 50s linear infinite ; 
    cursor: pointer;
    z-index: 500;
}

@keyframes giro{
    0%{ transform: rotateZ(0deg); } 
    100%{ transform: rotateZ(360deg); }
}

.boton-reservas-footer .nombre-reserva{
    position: absolute;
    z-index: 700;
    color: #fff;
    top: 32%;
    right: 33%;
    font-size: 15px;
}

.footer{
    display: flex;
    grid-area: footer;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    z-index: 400;
}

.footer .contenedor-footer{
    display:flex;
    width: 100%;
    height: 260px;  
    position: relative;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid lightpink; */

}

.footer .contenedor-footer .caja-1{
    width: 100%;
    height: 60%;
    position: absolute;
    background: #2C0D10;
    box-shadow: 0px 0px 40px rgba(0,0,0,10);
    z-index: 100;
}

.footer .contenedor-footer .caja-2{
    display:flex;
    width: 100%;
    height: 40%;
    position: absolute;
    z-index: 0;
    align-self: flex-start;
    /* border: 1px solid #fff; */
}

.footer .patron-footer{
    width: 100%;
    position: absolute;
    bottom: 81px;
    z-index: 400;
}

.footer .imagen-mitad-del-mundo{
    display:flex;
    width: 100%;
    position: absolute;
    bottom: 95px;
    justify-content:center;
    z-index: 200;
}

.imagen-mitad-del-mundo img.monumento{
    position: relative;
    width: 25%;
    /* background:red; */
    z-index: 500;
}

.contenedor-alas{
    display:flex;
    width: 100%;
    position: absolute;
    bottom: 33%;
    justify-content: space-evenly;
    z-index: 100;
}

.contenedor-alas img.alas-izq{
    position: relative;
    width: 17%;
    height: auto;
    z-index: 500;
    margin-right: 25%;
    margin-bottom: 55px;
    animation: animacion-alas-izq 1.5s 3s ease-in-out alternate-reverse  infinite;
    animation-fill-mode: forwards;
}

.contenedor-alas img.alas-der{
    position: relative;
    width: 17%;
    height: auto;
    z-index: 300;
    margin-left: 24%;
    margin-bottom: 55px;
    transform: scaleX(-1);
    animation: animacion-alas-der 1.5s 3s ease-in-out alternate-reverse infinite;
    animation-fill-mode: forwards;
}

/*====================== ANIMACIONES ALAS ============================*/

@keyframes animacion-alas-izq{
    0% {transform: rotate(-10deg) translateY(15px);}
    20% {transform: rotate(0deg) translateY(0px);}
    75% {transform: rotate(-15deg) translateY(15px);}
    100% {transform: rotate(0deg) translateY(0px);}
}
@keyframes animacion-alas-der{
    0% {transform: rotate(10deg) scaleX(-1) translateY(15px);}
    20% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
    75% {transform: rotate(15deg) scaleX(-1) translateY(15px);}
    100% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
}

/* ============== IMAGENES FOOTER IZQUIERDA Y DERECHA ========== */

.footer .imagen-izquierda-footer{
    display: flex;
    width: 100%;
}

.footer .imagen-izquierda-footer img {
    width: 26%;
    position: absolute;
    align-self: flex-end;
}

.footer .imagen-derecha-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
} 

.footer .imagen-derecha-footer img{
    width: 26%;
    position: absolute;
    align-self: flex-end;
}

/* ================= REDES SOCIALES ======================== */

.footer .redes-sociales{
    display: flex;
    justify-content: center;
    font-size: 22px;
    z-index: 500;
}


.footer .redes-sociales a{
    display: flex;
    width: 40px;
    height: 40px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin:  7px;
    color: #2C0D10;
    transition: 0.4s;
    margin-top: -110px;
}

.footer .redes-sociales a:hover{
    background: #2C0D10;
    color: #fff;
    font-size: 27px;
}

.redes-sociales img{
    position: absolute;
    width: 40px;
}


/* ====================================================================== */
/* ================== CONTENIDO PRINCIPAL SLIDES MENU ================== */
/* ==================================================================== */
.contenedor-slide {
    display: flex;
    position: relative;
    width: 100% !important;
    height: 100vh;
}

/*=================== ESTILO IMAGENES FONDO DE SLIDES ==================*/
#carta-menu-1, #carta-menu-2, #carta-menu-3,
#carta-menu-4, #carta-menu-5, #carta-menu-6,
#carta-menu-7, #carta-menu-8, #carta-menu-9,
#carta-menu-10, #carta-menu-11, #carta-menu-12,
#carta-menu-13, #carta-menu-14, #carta-menu-15
{
    background-position: center center;
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    z-index: 100;
}

#carta-menu-1{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-1.png");
}
#carta-menu-2{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-2.png");
}
#carta-menu-3{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-3.png");
}
#carta-menu-4{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-4.png");
}
#carta-menu-5{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-5.png");
}
#carta-menu-6{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-6.png");
}
#carta-menu-7{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-7.png");
}
#carta-menu-8{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-8.png");
}
#carta-menu-9{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-9.png");
}
#carta-menu-10{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-10.png");
}
#carta-menu-11{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-11.png");
}
#carta-menu-12{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-12.png");
}
#carta-menu-13{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-13.png");
}
#carta-menu-14{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-14.png");
}
#carta-menu-15{
    background-image: url("../imagenes/Imagenes-menu/Carta-Menu-15.png");
}

/* ================== TÍTULO DE PAGINAS DEL MENÚ ================ */
.contenedor-slide .titulo-paginas-menu{
    position: absolute;
    width: 60%;
    height: auto;
    right: 0;
    left: 0;
    top: 10px;
    margin: auto;
    /* background: red; */
}
.titulo-paginas-menu img{
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    /* background: blue; */
}

/* ============== TÍTULO DE SECCIÓN DOBLE ================= */
.contenedor-ensaladas-tacos .imagen-titulo-seccion-doble{
    position: absolute;
    width: 67%;
    top: -100%;
    right: 0;
    left: 0;
}

/* ======== CONTENEDOR IMÁGENES DE PLATOS E INFORMACIÓN ===== */
.contenedor-info-producto{
    position: relative;
    width: 100%;
    height: 90%;
    z-index: 300;
    margin: auto;
    margin-top: 20%;
}

.contenedor-info-producto .contenedor-info-producto-superior{
    position: relative;
    width: 100%;
    height: 50%;
}
.contenedor-info-producto .contenedor-info-producto-inferior{
    position: relative;
    width: 100%;
    height: 50%;   
}


/* =========== ESTILOS GENERALES IMÁGENES PLATOS Y BEBIDAS ======== */
.contenedor-info-producto img{
    width: 65%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.contenedor-info-producto-superior img{
    left:0;
}
.contenedor-info-producto-inferior img{
    right: 0;
}

/* =============================================================== */
/* = ESTILOS PARTICULARES DE IMÁGENES PLATOS, LICORES Y BEBIDAS ==*/

/* =========== PRIMERA SECCIÓN - PA' COMPARTIR ================= */
.contenedor-pa-compartir-1 .contenedor-info-producto-superior img{
    width: 80%;
    transform: RotateZ(10deg);
}

.contenedor-pa-compartir-2 .contenedor-info-producto-superior img{
    width: 60%;
}

.contenedor-pa-compartir-2 .contenedor-info-producto-inferior img{
    width: 70%;
}

/* ============ SEGUNDA SECCIÓN - PA' ENTRARLE SOLITO ==========*/
.contenedor-pa-entrarle-solito-1 .contenedor-info-producto-superior img{
    width: 60%;
}

.contenedor-pa-entrarle-solito-1 .contenedor-info-producto-inferior img{
    width: 70%;
}

/* ============== TERCERA SECCIÓN - SOPAS =================== */
.contenedor-sopas-1 .contenedor-info-producto-superior img{
    width: 55%;
}

.contenedor-sopas-1 .contenedor-info-producto-inferior img{
    width: 60%;
}

/* ======== CUARTA SECCIÓN DOBLE - ENSALADAS Y TACOS =========*/
.contenedor-ensaladas-tacos .contenedor-info-producto-superior .imagen-seccion-doble{
    position: absolute;
    width: 75%;
    top: -50px;
    left: 0;
}

.contenedor-ensaladas-tacos .contenedor-info-producto-inferior .imagen-seccion-doble{
    position: absolute;
    width: 74%;
    top: -50px;
    right: 0;
}

/* ======== QUINTA SECCIÓN - LOS MERO MERO MEXICANOS ========*/
.contenedor-los-mero-mero-1 .contenedor-info-producto-superior img{
    width: 75%;
    transform: scaleX(-1);
}

.contenedor-los-mero-mero-1 .contenedor-info-producto-inferior img{
    width: 70%;
}

.contenedor-los-mero-mero-2 .contenedor-info-producto-inferior img{
    width: 72%;
}

.contenedor-los-mero-mero-2 .contenedor-info-producto-superior img{
    width: 76%;
    transform: scaleX(-1);
}

.contenedor-los-mero-mero-3 .contenedor-info-producto-superior img{
    width: 70%;
    transform: rotateZ(20deg);
}

/* ================= SEXTA SECCIÓN  - LAS ESTRELLAS ============== */
.contenedor-las-estrellas-1 .contenedor-info-producto-superior img{
    width: 70%;
    transform: rotateY(180deg);
}

.contenedor-las-estrellas-1 .contenedor-info-producto-inferior img{
    width: 58%;
}

/* ========== SÉPTIMA SECCIÓN - LO MEJOR DE LO NUESTRO =========== */
.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior img{
    width: 65%;
}

.contenedor-nuestro-ganado-1 .contenedor-info-producto-inferior img{
    width: 60%;
    transform: rotateZ(13deg);
}

.contenedor-nuestro-ganado-2 .contenedor-info-producto-superior img{
    width: 65%;
    transform: rotateZ(20deg);
}

/* ========== OCTAVA SECCIÓN - PECHUGAS PIO PIO ================ */
.contenedor-pechugas-pio-pio-1 .contenedor-info-producto-superior img{
    width: 52%;
    transform: rotateZ(30deg);
}

.contenedor-pechugas-pio-pio-1 .contenedor-info-producto-inferior img{
    width: 52%;
    transform: rotateZ(29deg);
}

/* ================== NOVENA SECCIÓN - Y EL PUERCO ============ */
.contenedor-y-el-puerco-1 .contenedor-info-producto-superior img {
    width: 55%;
    transform: rotateZ(22deg);
}

/* ================= DÉCIMA SECCIÓN - MARISCOS ============== */
.contenedor-mariscos-1 .contenedor-info-producto-superior img {
    width: 70%;
    transform: rotateZ(-5deg);
}

.contenedor-mariscos-1 .contenedor-info-producto-inferior img {
    width: 77%;
    transform: rotateZ(-25deg) scaleY(-1) scaleX(-1);
}

/* ===== UNDÉCIMA SECCIÓN DOBLE - MENÚ INFANTIL Y EXTRAS ===== */

/* ============= DUODECIMA SECCIÓN - POSTRES =============== */
.contenedor-postres-1 .contenedor-info-producto-superior img{
    width: 70%;
    transform: rotateZ(-15deg);
}

.contenedor-postres-1 .contenedor-info-producto-inferior img{
    width: 70%;
    transform: rotateZ(-5deg);
}

.contenedor-postres-2 .contenedor-info-producto-superior img{
    width: 65%;
    transform: rotateZ(-5deg);
}

.contenedor-postres-2 .contenedor-info-producto-inferior img{
    width: 70%;
    transform: rotateZ(-5deg);
}

/* =========== TRIGÉSIMA SECCIÓN - LICORES =================*/

.contenedor-licores-1 .contenedor-info-producto-superior img{
    width: 26%;
    left: 15%;
}
.contenedor-licores-1 .contenedor-info-producto-inferior img{
    width: 36%;
    right: 13%;
    bottom: 15%;
}

.contenedor-licores-2 .contenedor-info-producto-superior img{
    width: 40%;
    left: 10%;
}


.contenedor-licores-2 .contenedor-info-producto-inferior img{
    width: 35%;
    right: 10%;
    bottom: 15%;
}

.contenedor-licores-3 .contenedor-info-producto-superior img{
    width: 30%;
    left: 10%;
}


.contenedor-licores-3 .contenedor-info-producto-inferior img{
    width: 35%;
    right: 10%;
    bottom: 15%;
}

.contenedor-licores-4 .contenedor-info-producto-superior img{
    width: 35%;
    left: 10%;
    top: 15%;
}


.contenedor-licores-4 .contenedor-info-producto-inferior img{
    width: 35%;
    right: 15%;
    bottom: 25%;
}

.contenedor-licores-5 .contenedor-info-producto-superior img{
    width: 30%;
    left: 10%;
}


.contenedor-licores-5 .contenedor-info-producto-inferior img{
    width: 25%;
    right: 15%;
    bottom: 55%;
}

.contenedor-licores-6 .contenedor-info-producto-superior img{
    width: 37%;
    left: 10%;
}

.contenedor-licores-6 .contenedor-info-producto-inferior img{
    width: 33%;
    right: 10%;
    bottom: 40%;
}

/* ============== CUATRIGÉSIMA SECCIÓN BEBIDAS ==================== */

/*=== ESTILOS GENERALESS DE TÍTULO DE PLATOS, LICORES Y BEBIDAS === */
.contenedor-info-producto .titulo{
    position: absolute;
    color: #fff;
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Londrina Solid', cursive; */
    /* font-family: 'Mountains of Christmas', cursive; */
    font-family: 'Rye', cursive;
    /* font-family: 'Atma', cursive; */
    /* font-family: 'Slackey', cursive; */
    font-size: 20px;
    top: 8%;
    text-transform: uppercase;
    background: rgb(255, 109, 24);
    line-height: 90%;
}

.contenedor-info-producto-superior .titulo{
    right: 12%;
}

.contenedor-info-producto-inferior .titulo{
    left: 5%;
}

/* =============================================================== */
/* ========= ESTILOS PARTICULARES DE TÍTULOS DE PLATOS ===========*/

/* ============ PRIMERA SECCIÓN - PA' COMPARTIR ================*/
.contenedor-pa-compartir-1 .titulo{
    background: rgb(255, 109, 24);

}

.contenedor-pa-compartir-1 .contenedor-info-producto-inferior .titulo{
    background: rgb(140, 21, 187);
}

.contenedor-pa-compartir-2 .contenedor-info-producto-inferior .titulo{
    background: rgb(140, 21, 187);
}

/* ============ SEGUNDA SECCIÓN - PA' ENTRARLE SOLITO ============= */
.contenedor-pa-entrarle-solito-1 .titulo{
    background: rgb(235, 13, 61);
}

.contenedor-pa-entrarle-solito-2 .titulo{
    background: rgb(235, 13, 61);
}

/* ============== TERCERA SECCIÓN - SOPAS   ===================== */
.contenedor-sopas-1 .titulo{
    background: rgb(176, 0, 182);  
}

.contenedor-sopas-1 .contenedor-info-producto-inferior .titulo{
    background: rgb(235, 13, 61);
}

/* ========= CUARTA SECCIÓN DOBLE - ENSALADAS Y TACOS =========*/
.contenedor-ensaladas-tacos .titulo{
   
}
/* ======== QUINTA SECCIÓN - LOS MERO MERO MEXICANOS =========*/
.contenedor-los-mero-mero-1 .titulo,
.contenedor-los-mero-mero-2 .titulo,
.contenedor-los-mero-mero-3 .titulo{
    background: rgb(235, 13, 61);
}

/* ============== SEXTA SECCIÓN  - LAS ESTRELLAS =============*/
.contenedor-las-estrellas-1 .titulo{
    background: rgb(5, 196, 5);
}

/* ===== SÉPTIMA SECCIÓN - LO MEJOR DE NUESTRO GANADO ====== */
.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior .titulo{
    background: transparent;
    line-height: 100%;
}

.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior .titulo span{
    background: rgb(255, 109, 24);
}

/* ========= OCTAVA SECCIÓN - PECHUGAS PIO PIO ============ */
.contenedor-pechugas-pio-pio-1 .contenedor-info-producto-superior .titulo span{
    background: rgb(24, 220, 255);
}

/* =========== NOVENA SECCIÓN - Y EL PUERCO ================ */

/* =============== DÉCIMA SECCIÓN - MARISCOS ==============*/
.contenedor-mariscos-1 .titulo,
.contenidor-mariscos-2 .titulo{
    background: rgba(49, 78, 243, 0.89);
}

/* ==== UNDÉCIMA SECCIÓN DOBLE - MENÚ INFANTIL Y EXTRAS ==== */

/* ============= DUODÉCIMA SECCIÓN - POSTRES =============== */

/* ============ TRIGÉSIMA SECCIÓN - LICORES 6 ============= */
.contenedor-info-producto.contenedor-licores-1 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 23%;
    top: 50%;
    line-height: 100%;
    color: rgb(209, 172, 8);
}

.contenedor-info-producto.contenedor-licores-1 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 22%;
    top: 40%;
    color: rgb(209, 172, 8);

}

.contenedor-info-producto.contenedor-licores-2 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 22%;
    top: 50%;
    color: rgb(255, 0, 149);
}

.contenedor-info-producto.contenedor-licores-2 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 22%;
    top: 40%;
    color: rgb(255, 0, 149);
}

.contenedor-info-producto.contenedor-licores-3 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 25%;
    top: 50%;
    color: rgb(209, 172, 8);
}

.contenedor-info-producto.contenedor-licores-3 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 25%;
    top: 40%;
    color: rgb(255, 0, 149);
}

.contenedor-info-producto.contenedor-licores-4 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 20%;
    top: 50%;
    line-height: 100%;
    color: rgb(47, 255, 227);
}

.contenedor-info-producto.contenedor-licores-4 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 22%;
    top: 30%;
    line-height: 100%;
    color: rgb(255, 0, 149);
}

.contenedor-info-producto.contenedor-licores-5 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 22%;
    top: 50%;
    line-height: 95%;
    color: rgb(209, 172, 8);

}

.contenedor-info-producto.contenedor-licores-5 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 23%;
    top: 30%;
    color: rgb(255, 0, 149);
}

.contenedor-info-producto.contenedor-licores-6 .contenedor-info-producto-superior .titulo{ 
    width:  100%;
    background:transparent;
    right: 21%;
    top: 55%;
    line-height: 100%;
    color: rgb(255, 0, 34);
}

.contenedor-info-producto.contenedor-licores-6 .contenedor-info-producto-inferior .titulo{ 
    width:  100%;
    background:transparent;
    left: 23%;
    top: 27%;
    color: rgb(209, 172, 8);

}
#carta-menu-14 .titulo span{
    background: indigo;  
}


/* ======== ESTILOS GENERALES DE DESCRIPCIÓN DE PLATOS  =========== */
.descripcion{
    display: flex;
    position: absolute;
    width: 40%;
    height: auto;
    top: 20%;
    font-size: 12px;
    font-family: Mirian;
    /* border: 1px solid #333; */
    justify-content: flex-start;  
}
.descripcion p {
    text-align: center;   
}

.descripcion  span {
    background: rgba(0,0,0,0.4);
    border-top: 4px solid rgba(0, 0, 0, 0.02); 
    line-height: 16px;
    color: #fff;
}

.contenedor-info-producto-superior .descripcion{
    right:2%;
    justify-content: center;
}

.contenedor-info-producto-inferior .descripcion{
    left: 2%;
    justify-content: center;
}

/* =============================================================== */
/* ======== ESTILOS PARTICULARES DE DESCRIPCIÓN DE PLATOS =======*/

/* =========== PRIMERA SECCIÓN - PA' COMPARTIR ================= */

/* ============ SEGUNDA SECCIÓN - PA' ENTRARLE SOLITO ==========*/

/* ============== TERCERA SECCIÓN - SOPAS =================== */
.contenedor-sopas-1 .descripcion span{
    background: rgba(255, 251, 3, 0.3);
    color: brown;
}

/* ======== CUARTA SECCIÓN DOBLE - ENSALADAS Y TACOS =========*/
.contenedor-ensaladas-tacos .contenedor-info-producto-superior span{
     background: rgba(110, 223, 5, 0.4); 
}

.contenedor-ensaladas-tacos .contenedor-info-producto-inferior span{
    background: rgba(255, 73, 1, 0.4); 
}

/* ======== QUINTA SECCIÓN - LOS MERO MERO MEXICANOS ========*/
.contenedor-los-mero-mero-1 span, .contenedor-los-mero-mero-2 span, .contenedor-los-mero-mero-3 span{
    background:rgba(116, 10, 2, 0.3);
}

/* ================= SEXTA SECCIÓN - LAS ESTRELLAS ============== */
.contenedor-las-estrellas-1 span{
    background: rgb(75, 6, 238, 0.2);
}

/* ========== SÉPTIMA SECCIÓN - LO MEJOR DE LO NUESTRO =========== */

.contenedor-nuestro-ganado-1 .contenedor-info-producto-superior .descripcion{
    top: 24%;
}

/* ========== OCTAVA SECCIÓN - PECHUGAS PIO PIO ================ */

/* ================== NOVENA SECCIÓN - Y EL PUERCO ============ */

/* ================= DÉCIMA SECCIÓN - MARISCOS ============== */

/* ===== UNDÉCIMA SECCIÓN DOBLE - MENÚ INFANTIL Y EXTRAS ===== */

/* ============= DUODECIMA SECCIÓN - POSTRES =============== */

/* ============= TRIGÉSIMA SECCIÓN - LICORES ============== */
#carta-menu-14 .contenedor-info-producto .descripcion{
    top: 10%;
    bottom: 0;
    margin: auto;
}
/* ============ CUATRIGÉSIMA SECCIÓN - BEBIDAS ============*/

/*================= CLASES DE FULL PAGE ESTILOS =============== */
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev{
    top: 0;
    bottom: 0;
    margin: auto;
}

.fp-controlArrow.fp-prev{
    left: 2%;
    border-width: 12px 12px 12px 0;
    border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next{
    right: 2%;
    border-width: 12px 0px 12px 12px;
    border-color: transparent transparent transparent #fff;
}

/* ================= ICONO BAJAR ================= */
.contenedor-icono{
    position: absolute;
    z-index: 199;
    bottom: 3%;
    left: 45%;
    font-size: 25px;
    animation: bajar-subir 1s ease infinite;
}

/* =============== ICONO BAJAR PAGINA DE INICIO ========== */
.header-footer .contenedor-icono{
    position: absolute;
    z-index: 199;
    bottom: 53%;
    left: 45%;
    font-size: 40px;
    z-index: 700;
    animation: bajar-subir 1s ease infinite;
}

.contenedor-icono a{
    color: #fff;
}

@keyframes bajar-subir{
    0%{ transform: translateY(20px); }
    25%{ transform: translateY(0px); }
    100%{ transform: translateY(20px); }
}


/* =============================================== */
/* ================== RESPONSIVE ================ */
/* ============================================= */

@media only screen and (max-height: 600px) {

    .titulo-paginas-menu{
        width: 30%;
        height: 30%;
    }
    .contenedor-info-producto img{
        /* background: lightsteelblue; */
    }
    .contenedor-info-producto .titulo{
        font-size: 20px
    }

    .contenedor-info-producto .descripcion{
        font-size: 12px;
        
    }
    .contenedor-slide .titulo-paginas-menu{
        /* width: 60%; */
        /* background: red; */
    }
    
} 

