/* FUENTES */
@font-face{
    font-family: 'Mayan';
    src: url(../fonts/Mayan\ 2.ttf);
}
@font-face{
    font-family: 'Tequila';
    src: url(../fonts/Stronger.ttf);
}

@font-face{
    font-family: 'Mirian';
    src: url(../fonts/MyriadPro-Regular_1.otf)
}

@font-face{
    font-family: 'Bison';
    src: url(../fonts/Bison-Bold\(PersonalUse\).ttf);

}

@font-face{
	font-family: 'Russian';
	src: url(../fonts/Russian.ttf);
}

/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
}


/* article{
    background-image: url('../imagenes/Imagenes-menu/Pa-compartir/Fondo-pa-compartir-escritorio.png');
    background-size: cover;
    background-position: center;
} */

.slide-2{
	background-image: url('../imagenes/Imagenes-menu/Pa-entrarle-solito/fondo-pa-entrarle-solito-escritorio.png');
    background-size: cover;
    background-position: center;
}

.slide-3{
	background-image: url('../imagenes/Imagenes-menu/Sopas/fondo-sopas-escritorio.png');
    background-size: cover;
    background-position: center;
}

.slide-4{
	background-image: url('../imagenes/Imagenes-menu/Ensaladas/Fondo-ensaladas-tacos-escritorio.png');
    background-size: cover;
    background-position: center;
}

.slide-5{
	background-image: url('../imagenes/Imagenes-menu/Meros-Mexicanos/Fondo-los-mero-mero-escritorio.png');
    background-size: cover;
    background-position: center;
}

.slide-6{
	background-image: url('../imagenes/Imagenes-menu/Las-Estrellas/Background-las-estrellas-escritorio.png');
    background-size: cover;
    background-position: center;
}

.slide-7{
	background-image: url('../imagenes/Imagenes-menu/Nuestro-ganado/Background-nuestro-ganado-escritorio.png');
    background-size: cover;
    background-position: center;
}

.slide-8{
	background-image: url('../imagenes/Imagenes-menu/Pechugas-pio-pio/Background-pechugas-pio-pio-escritorio.png');
    background-size: cover;
    background-position: center;
}

.slide-9{
	background-image: url('../imagenes/Imagenes-menu/Y-el-puerco/Background-y-el-puerco-escritorio.png');
    background-size: cover;
    background-position: center;
}

.slide-10{
	background-image: url('../imagenes/Imagenes-menu/Mariscos/Background-mariscos-escritorio.png');
    background-size: cover;
    background-position: center;
}

.slide-12{
	background-image: url('../imagenes/Imagenes-menu/Postres/Background-postres-escritorio.png');
    background-size: cover;
    background-position: center;
}

.contenedor{
    width: 100%;
    height: 100%;
    /* border: 1px solid #fff ; */
    margin: auto;
}

/* ============================= REJILLA ================================== */

.contenedor .contenido {
	display: grid;
	position: relative;
	grid-template-columns: repeat(36, 1fr);
	grid-template-rows: repeat(18, 1fr);
	/* border: 1px solid rgb(37, 238, 10); */
	width: 95%;
	height: 75vh;
	margin: auto;
}

/* =================== IMAGENES PA' COMPARTIR ======================== */

.slide-1 .contenedor .contenido .contenedor-imagen-tlacoyos {
	display: flex;
	grid-area: 1/1/8/4;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.slide-1 .contenedor .contenido .contenedor-imagen-tlacoyos img{
    width: 77%;
}

.slide-1 .contenedor .contenido .contenedor-imagen-huevos-cartoon {
	display: flex;
	grid-area: 6/7/8/8;
	/* background: blue; */
	width: 100%;
	justify-content: center;
	align-items: center;
}
.slide-1 .contenedor .contenido .contenedor-imagen-huevos-cartoon img{
    width: 82%;
}

.slide-1 .contenedor .contenido .contenedor-imagen-la-gringa {
	display: flex;
	grid-area: 9/7/14/10;
	/* background: blue; */
	width: 100%;
	justify-content: center;
	align-items: flex-end;
}
.slide-1 .contenedor .contenido .contenedor-imagen-la-gringa img {
	width: 42%;
}

.slide-1 .contenedor .contenido .contenedor-imagen-la-gringa-plato {
	display: flex;
	grid-area: 14/4/16/8;
	/* background: blue; */
	width: 100%;
	justify-content: center;
	align-items: center;
}
.slide-1 .contenedor .contenido .contenedor-imagen-la-gringa-plato img {
	width: 64%;
}

.slide-1 .contenedor .contenido .contenedor-imagen-supernacho {
	display: flex;
	grid-area: 14/1/16/4;
	/* background: blue; */
	width: 100%;
	justify-content: center;
	align-items: center;
}
.slide-1 .contenedor .contenido .contenedor-imagen-supernacho img{
    width: 83%;
}

.slide-1 .contenedor .contenido .contenedor-imagen-flecha-1 {
	display: flex;
	grid-area: 2/4/3/5;
	/* background: rgb(43, 255, 0); */
	width: 100%;
	justify-content: center;
	align-items: center;
}
.slide-1 .contenedor .contenido .contenedor-imagen-flecha-1 img{
    width:70%;
}

.slide-1 .contenedor .contenido .contenedor-imagen-flecha-2 {
	display: flex;
	grid-area: 10/1/14/2;
	/* background: rgb(43, 255, 0); */
	width: 100%;
	justify-content: center;
	align-items: center;
}
.slide-1 .contenedor .contenido .contenedor-imagen-flecha-2 img{
    width:70%;
}

.slide-1 .contenedor .contenido .contenedor-imagen-flecha-3 {
	display: flex;
	grid-area: 10/7/16/6;
	/* background: rgb(43, 255, 0); */
	width: 100%;
	justify-content: center;
	align-items: center;
	transform: scaleX(-1) rotate(-83deg);
}
.slide-1 .contenedor .contenido .contenedor-imagen-flecha-3 img{
    width:50%;
}

.slide-1 .contenedor .contenido .contenedor-imagen-flecha-4 {
	display: flex;
	grid-area: 5/15/9/16;
	/* background: rgb(43, 255, 0); */
	width: 100%;
	justify-content: center;
	align-items: center;
	left: 30px;
	position: absolute;
}
.slide-1 .contenedor .contenido .contenedor-imagen-flecha-4 img{
    width:50%;
}

.slide-1 .contenedor .contenido .contenedor-imagen-alitas-sinaloa {
	display: flex;
	grid-area: 7/14/12/19;
	/* background: rgb(43, 255, 0); */
	width: 100%;
	justify-content: center;
	align-items: center;
}
.slide-1 .contenedor .contenido .contenedor-imagen-alitas-sinaloa img{
    width: 80%;
}

.slide-1 .contenedor .contenido .contenedor-imagen-chile {
	display: flex;
	grid-area: 4/18/7/19;
	/* background: rgb(43, 255, 0); */
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	z-index: 400;
}

.slide-1 .contenedor .contenido .contenedor-imagen-chile img{
   width: 56%;
}


/* ======================= IMAGENES PA' ENTRARLE SOLITO ==================== */
.slide-2 .contenedor .contenido .contenedor-imagen-jalapeno {
	display: flex;
	grid-area: 1/1/8/9;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	/* background: red; */
}
.slide-2 .contenedor .contenido .contenedor-imagen-jalapeno img{
    width: 64%;
}

.slide-2 .contenedor .contenido .contenedor-imagen-flauta-maiz {
	display: flex;
	grid-area: 9/14/17/21;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	/* background: red; */
}
.slide-2 .contenedor .contenido .contenedor-imagen-flauta-maiz img{
    width: 77%;
}

.slide-2 .contenedor .contenido .contenedor-imagen-papa-chihuahua {
	display: flex;
	grid-area: 6/25/15/35;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	/* background: red; */
}
.slide-2 .contenedor .contenido .contenedor-imagen-papa-chihuahua img{
    width: 77%;
}

/* ====================== IMAGENES SOPAS ==================================== */

.slide-3 .contenedor .contenido .contenedor-imagen-sopa-azteca{
	display: flex;
	grid-area: 2/6/11/15;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.slide-3 .contenedor .contenido .contenedor-imagen-sopa-azteca img{
	width: 70%;
}

.slide-3 .contenedor .contenido .contenedor-imagen-pozole-rojo{
	display: flex;
	grid-area: 8/20/17/29;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.slide-3 .contenedor .contenido .contenedor-imagen-pozole-rojo img{
	width: 73%;
}

.slide-3 .contenedor .contenido .contenedor-imagen-flores{
	display: flex;
	grid-area: 7/17/10/19;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.slide-3 .contenedor .contenido .contenedor-imagen-flores img{
	width: 73%;
}

.slide-3 .contenido .contenedor-imagen-flecha-1{
	display: flex;
	grid-area: 9/6/12/8;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.slide-3 .contenido .contenedor-imagen-flecha-1 img{
	width: 40%;
}

.slide-3 .contenido .contenedor-imagen-flecha-2{
	display: flex;
	grid-area: 11/28/13/31;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.slide-3 .contenido .contenedor-imagen-flecha-2 img{
	width: 60%;
}

/* ===================== IMAGENES ENSALADAS =========================== */
.slide-4 .contenido .contenedor-imagen-ensalada{
	display: flex;
	grid-area: 1/2/11/11;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.slide-4 .contenido .contenedor-imagen-ensalada img{
	width: 95%;
}

.slide-4 .contenido .contenedor-imagen-flecha-1{
	display: flex;
	grid-area: 5/10/13/13;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-4 .contenido .contenedor-imagen-flecha-1 img{
	width: 60%;
}

/* ===================== IMAGENES TACOS =========================== */
.slide-4 .contenido .contenedor-imagen-tacos-carne{
	display: flex;
	grid-area: 14/28/6/37;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.slide-4 .contenido .contenedor-imagen-tacos-carne img{
	width: 90%;
}

.slide-4 .contenido .contenedor-imagen-taco-sudadero{
	display: flex;
	grid-area: 11/19/18/27;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.slide-4 .contenido .contenedor-imagen-taco-sudadero img{
	width: 60%;
}

.slide-4 .contenido .contenedor-imagen-flecha-2{
	display: flex;
	grid-area: 6/30/13/32;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	transform: scaleY(-1) rotateZ(160deg);
} 
.slide-4 .contenido .contenedor-imagen-flecha-2 img{
	width: 60%;
}

.slide-4 .contenido .contenedor-imagen-flecha-3{
	display: flex;
	grid-area: 9/28/19/29;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	transform: rotateZ(-60deg);
} 
.slide-4 .contenido .contenedor-imagen-flecha-3 img{
	width: 60%;
}

/* ======================  IMAGENES LOS MERO MERO ============================ */
.slide-5 .contenido .contenedor-imagen-chimichanga{
	display: flex;
	grid-area: 2/1/6/7;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-5 .contenido .contenedor-imagen-chimichanga img{
	width: 100%;
	transform: rotate(180deg) scaleY(-1);
}

.slide-5 .contenido .contenedor-imagen-alambre{
	display: flex;
	grid-area: 8/1/10/7;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;

} 
.slide-5 .contenido .contenedor-imagen-alambre img{
	width: 100%;
	transform: scaleY(-1) rotateZ(180deg);
}

.slide-5 .contenido .contenedor-imagen-burrito-cuate{
	display: flex;
	grid-area: 1/30/6/37;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;

} 
.slide-5 .contenido .contenedor-imagen-burrito-cuate img{
	width: 100%;
}

.slide-5 .contenido .contenedor-imagen-huarache{
	display: flex;
	grid-area: 9/28/19/29;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;

} 
.slide-5 .contenido .contenedor-imagen-huarache img{
	width: 60%;
}

.slide-5 .contenido .contenedor-imagen-supermachote{
	display: flex;
	grid-area: 9/28/19/29;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-5 .contenido .contenedor-imagen-supermachote img{
	width: 60%;
}

/* ================= IMAGENES LAS ESTRELLAS ===================== */
.slide-6 .contenido .contenedor-imagen-tabla-ranchera{
	display: flex;
	grid-area: 1/7/12/21;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-6 .contenido .contenedor-imagen-tabla-ranchera img{
	width: 100%;
}

.slide-6 .contenido .contenedor-imagen-plato-los-cuates{
	display: flex;
	grid-area: 5/16/18/31;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-6 .contenido .contenedor-imagen-plato-los-cuates img{
	width: 80%;
}

.slide-6 .contenido .contenedor-imagen-adorno-1{
	display: flex;
	grid-area: 9/28/19/29;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-6 .contenido .contenedor-imagen-adorno-1 img{
	width: 60%;
}

.slide-6 .contenido .contenedor-imagen-adorno-2{
	display: flex;
	grid-area: 9/28/19/29;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-6 .contenido .contenedor-imagen-adorno-2 img{
	width: 60%;
}

.slide-6 .contenido .contenedor-imagen-adorno-3{
	display: flex;
	grid-area: 9/28/19/29;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-6 .contenido .contenedor-imagen-adorno-3 img{
	width: 60%;
}

.slide-6 .contenido .contenedor-imagen-adorno-4{
	display: flex;
	grid-area: 9/28/19/29;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-6 .contenido .contenedor-imagen-adorno-4 img{
	width: 60%;
}

.slide-6 .contenido .contenedor-imagen-adorno-5{
	display: flex;
	grid-area: 9/28/19/29;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-6 .contenido .contenedor-imagen-adorno-5 img{
	width: 60%;
}

.slide-6 .contenido .contenedor-imagen-adorno-6{
	display: flex;
	grid-area: 9/28/19/29;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-6 .contenido .contenedor-imagen-adorno-6 img{
	width: 60%;
}

/* ============= IMAGENES LO MEJOR DE NUESTRO GANADO ============ */

.slide-7 .contenido .contenedor-imagen-bistec-chente{
	display: flex;
	grid-area: 1/1/9/12;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-7 .contenido .contenedor-imagen-bistec-chente img{
	width: 77%;
}

.slide-7 .contenido .contenedor-imagen-sabana-monterrey{
	display: flex;
	grid-area: 8/12/16/22;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-7 .contenido .contenedor-imagen-sabana-monterrey img{
	width: 75%;
}

.slide-7 .contenido .contenedor-imagen-tapiquena{
	display: flex;
	grid-area: 1/24/9/35;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-7 .contenido .contenedor-imagen-tapiquena img{
	width: 70%;
}

.slide-7 .contenido .contenedor-imagen-adorno-1{
	display: flex;
	grid-area: 15/20/17/22;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-7 .contenido .contenedor-imagen-adorno-1 img{
	width: 50%;
}

.slide-7 .contenido .contenedor-imagen-adorno-2{
	display: flex;
	grid-area: 9/9/11/11;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-7 .contenido .contenedor-imagen-adorno-2 img{
	width: 50%;
}

.slide-7 .contenido .contenedor-imagen-adorno-3{
	display: flex;
	grid-area: 6/17/8/19;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-7 .contenido .contenedor-imagen-adorno-3 img{
	width: 50%;
}

.slide-7 .contenido .contenedor-imagen-chile-nuestro-ganado{
	display: flex;
	grid-area: 13/6/15/7;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-7 .contenido .contenedor-imagen-chile-nuestro-ganado img{
	width: 90%;
}

.slide-7 .contenido .contenedor-imagen-flecha-1-nuestro-ganado{
	display: flex;
	grid-area: 1/9/4/12;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-7 .contenido .contenedor-imagen-flecha-1-nuestro-ganado img{
	width: 50%;
}

.slide-7 .contenido .contenedor-imagen-flecha-2-nuestro-ganado{
	display: flex;
	grid-area: 11/10/13/13;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-7 .contenido .contenedor-imagen-flecha-2-nuestro-ganado img{
	width: 55%;
}

.slide-7 .contenido .contenedor-imagen-flecha-3-nuestro-ganado{
	display: flex;
	grid-area: 1/26/4/23;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-7 .contenido .contenedor-imagen-flecha-3-nuestro-ganado img{
	width: 55%;
}

/* ============ IMAGENES PECHUGAS PIO PIO ===================== */
.slide-8 .contenido .contenedor-imagen-pechuga-mole{
	display: flex;
	grid-area: 1/4/12/14;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-8 .contenido .contenedor-imagen-pechuga-mole img{
	width: 75%;
}

.slide-8 .contenido .contenedor-imagen-pechuga-mexicano{
	display: flex;
	grid-area: 6/26/18/36;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-8 .contenido .contenedor-imagen-pechuga-mexicano img{
	width: 75%;
}

.slide-8 .contenido .contenedor-imagen-adorno-1{
	display: flex;
	grid-area: 7/2/18/11;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-8 .contenido .contenedor-imagen-adorno-1 img{
	width: 55%;
}

.slide-8 .contenido .contenedor-imagen-adorno-2{
	display: flex;
	grid-area: 9/16/17/22;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-8 .contenido .contenedor-imagen-adorno-2 img{
	width: 60%;
}

.slide-8 .contenido .contenedor-imagen-adorno-3{
	display: flex;
	grid-area: 8/32/18/25;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-8 .contenido .contenedor-imagen-adorno-3 img{
	width: 65%;
}

.slide-8 .contenido .contenedor-imagen-chile-1-pechugas-pio-pio{
	display: flex;
	grid-area: 16/13/18/15;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-8 .contenido .contenedor-imagen-chile-1-pechugas-pio-pio img{
	width: 55%;
}

.slide-8 .contenido .contenedor-imagen-chile-2-pechugas-pio-pio{
	display: flex;
	grid-area: 9/20/11/22;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-8 .contenido .contenedor-imagen-chile-2-pechugas-pio-pio img{
	width: 55%;
}

.slide-8 .contenido .contenedor-imagen-flecha-1-pechugas-pio-pio{
	display: flex;
	grid-area: 9/13/12/15;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-8 .contenido .contenedor-imagen-flecha-1-pechugas-pio-pio img{
	width: 55%;
}

.slide-8 .contenido .contenedor-imagen-flecha-2-pechugas-pio-pio{
	display: flex;
	grid-area: 9/25/12/27;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-8 .contenido .contenedor-imagen-flecha-2-pechugas-pio-pio img{
	width: 55%;
	transform: rotateZ(50deg);
}

/* ====================== IMÁGENES Y EL PUERCO ================================ */

.slide-9 .contenido .contenedor-imagen-costillas-cochi{
	display: flex;
	grid-area: 1/8/11/19;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-9 .contenido .contenedor-imagen-costillas-cochi img{
	width: 70%;
}

.slide-9 .contenido .contenedor-imagen-flecha{
	display: flex;
	grid-area: 7/19/10/22;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-9 .contenido .contenedor-imagen-flecha img{
	width: 55%;
}

.slide-9 .contenido .contenedor-imagen-puerquito-3{
	display: flex;
	grid-area: 2/28/4/31;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-9 .contenido .contenedor-imagen-puerquito-3 img{
	width: 65%;
}

.slide-9 .contenido .contenedor-imagen-puerquito-2{
	display: flex;
	grid-area: 10/16/15/20;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-9 .contenido .contenedor-imagen-puerquito-2 img{
	width: 66%;
}

.slide-9 .contenido .contenedor-imagen-puerquito-1{
	display: flex;
	grid-area: 5/5/7/8;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-9 .contenido .contenedor-imagen-puerquito-1 img{
	width: 55%;
}

.slide-9 .contenido .contenedor-imagen-persona{
	display: flex;
	grid-area: 6/3/10/7;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-9 .contenido .contenedor-imagen-persona img{
	width: 55%;
}

.slide-9 .contenido .contenedor-imagen-limon-1{
	display: flex;
	grid-area: 12/14/14/16;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 

.slide-9 .contenido .contenedor-imagen-limon-1 img{
	width: 45%;
}

.slide-9 .contenido .contenedor-imagen-limon-2{
	display: flex;
	grid-area: 4/20/7/22;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-9 .contenido .contenedor-imagen-limon-2 img{
	width: 55%;
}

.slide-9 .contenido .contenedor-imagen-avion-1{
	display: flex;
	grid-area: 2/4/5/7;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-9 .contenido .contenedor-imagen-avion-1 img{
	width: 55%;
}

.slide-9 .contenido .contenedor-imagen-avion-2{
	display: flex;
	grid-area: 2/21/5/24;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-9 .contenido .contenedor-imagen-avion-2 img{
	width: 80%;
}

.slide-9 .contenido .contenedor-imagen-adorno-1{
	display: flex;
	grid-area: 12/7/18/17;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: center;
} 
.slide-9 .contenido .contenedor-imagen-adorno-1 img{
	width: 55%;
}

.slide-9 .contenido .contenedor-imagen-adorno-grande{
	display: flex;
	grid-area: 8/24/19/37;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-9 .contenido .contenedor-imagen-adorno-grande img{
	width: 55%;
}

/* ==================== IMAGENES MARISCOS =========================== */
.slide-10 .contenido .contenedor-imagen-caballo-mar-1{
	display: flex;
	grid-area: 8/24/19/37;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-caballo-mar-1 img{
	width: 55%;
}

.slide-10 .contenido .contenedor-imagen-caballo-mar-2{
	display: flex;
	grid-area: 8/24/19/37;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-caballo-mar-2 img{
	width: 55%;
}

.slide-10 .contenido .contenedor-imagen-caballo-mar-3{
	display: flex;
	grid-area: 7/32/10/34;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-caballo-mar-3 img{
	width: 55%;
}

.slide-10 .contenido .contenedor-imagen-caballo-mar-4{
	display: flex;
	grid-area: 15/8/19/10;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-caballo-mar-4 img{
	width: 45%;
}

.slide-10 .contenido .contenedor-imagen-flecha-1{
	display: flex;
	grid-area: 2/10/4/13;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-flecha-1 img{
	width: 55%;
}

.slide-10 .contenido .contenedor-imagen-flecha-2{
	display: flex;
	grid-area: 11/9/13/12;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-flecha-2 img{
	width: 55%;
}

.slide-10 .contenido .contenedor-imagen-pez-1{
	display: flex;
	grid-area: 9/11/12/15;	
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-pez-1 img{
	width: 45%;
}

.slide-10 .contenido .contenedor-imagen-pez-2{
	display: flex;
	grid-area: 2/24/5/28;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-pez-2 img{
	width: 55%;
}

.slide-10 .contenido .contenedor-imagen-pez-dorado{
	display: flex;
	grid-area: 16/26/19/31;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-pez-dorado img{
	width: 55%;
}

.slide-10 .contenido .contenedor-imagen-submarino{
	display: flex;
	grid-area: 8/19/11/23;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-submarino img{
	width: 55%;
}

.slide-10 .contenido .contenedor-imagen-ceviche-cuates{
	display: flex;
	grid-area: 1/2/9/13;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-ceviche-cuates img{
	width: 80%;
}

.slide-10 .contenido .contenedor-imagen-fajitas-langostino{
	display: flex;
	grid-area: 10/9/17/21;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-10 .contenido .contenedor-imagen-fajitas-langostino img{
	width: 80%;
	transform: rotateZ(350deg);
}

/* ======================= IMÁGENES POSTRES ===================*/

.slide-12 .contenido .contenedor-imagen-etiqueta{
	display: flex;
	grid-area: 2/25/7/28;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-etiqueta img{
	width: 60%;
}

.slide-12 .contenido .contenedor-imagen-logo-cola-cao{
	display: flex;
	grid-area: 7/25/12/30;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-logo-cola-cao img{
	width: 80%;
}

.slide-12 .contenido .contenedor-imagen-flecha-1{
	display: flex;
	grid-area: 8/9/11/11;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-flecha-1 img{
	width: 45%;
}

.slide-12 .contenido .contenedor-imagen-flecha-2{
	display: flex;
	grid-area: 6/27/9/29;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-flecha-2 img{
	width: 60%;
}

.slide-12 .contenido .contenedor-imagen-flecha-3{
	display: flex;
	grid-area: 16/25/18/28;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-flecha-3 img{
	width: 50%;
}

.slide-12 .contenido .contenedor-imagen-fresa-1{
	display: flex;
	grid-area: 7/13/9/14;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-fresa-1 img{
	width: 80%;
}

.slide-12 .contenido .contenedor-imagen-fresa-2{
	display: flex;
	grid-area: 7/9/9/10;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-fresa-2 img{
	width: 80%;
}

.slide-12 .contenido .contenedor-imagen-fresa-3{
	display: flex;
	grid-area: 10/9/12/10;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-fresa-3 img{
	width: 80%;
}

.slide-12 .contenido .contenedor-imagen-logo-chocolas{
	display: flex;
	grid-area: 11/31/13/33;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-logo-chocolas img{
	width: 80%;
}

.slide-12 .contenido .contenedor-imagen-corbatin-charro{
	display: flex;
	grid-area: 1/7/8/15;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-corbatin-charro img{
	width: 100%;
	margin-top: -31px;
}

.slide-12 .contenido .contenedor-imagen-queretaro{
	display: flex;
	grid-area: 8/12/16/22;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-queretaro img{
	width: 80%;
}

.slide-12 .contenido .contenedor-imagen-cola-cao{
	display: flex;
	grid-area: 1/27/8/34;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-cola-cao img{
	width: 80%;
}

.slide-12 .contenido .contenedor-imagen-chanfle-chocolas{
	display: flex;
	grid-area: 13/26/19/37;
	/* background: red; */
	width: 100%;
	justify-content: center;
	align-items: flex-start;
} 
.slide-12 .contenido .contenedor-imagen-chanfle-chocolas img{
	width: 75%;
}


/* ========================================================================= */
/* ================== ESTILOS GENRALES DE PLATOS =========================== */
/* ========================================================================= */

/* ==================== CONTENEDOR PLATOS ===================================*/
.contenedor .contenido .contenedor-platos{
    /* position: absolute; */
    /* border: 1px solid #fff; */
    /* width: 100%; */
    /* left: 30%; */
}

/* ========================================================================== */
/* ======================== TITULO PLATOS ================================== */
.contenedor .contenido .contenedor-platos h2 {
	text-align: center;
	margin-bottom: 0.5em;
	font-family: 'Rye', cursive;
	font-size: 20px;
	color: #fff;
	line-height: 1.1em;
}

/* =========================== PA' COMPARTIR ================================= */
.contenedor .contenido .contenedor-platos h2 span {
	background: #D08021;
	padding: 0.1em 0.4em;
}

.contenedor .contenido .contenedor-platos.huevos-rancheros h2 span, 
.contenedor .contenido .contenedor-platos.alitas-sinaloa h2 span,
.contenedor .contenido .contenedor-platos.nachos h2 span,
.contenedor .contenido .contenedor-platos.supernacho h2 span {
	background: #633180;
}

/* =========================== PA' ENTRARLE SOLITO================================= */
.slide-2 .contenedor .contenido .contenedor-platos h2 span {
	background: #CF1C24;
	padding: 0.1em 0.4em;
}

.slide-2 .contenedor .contenedor-platos.empanadas-veracruz h2 span,
.slide-2 .contenedor .contenedor-platos.flauta-trigo h2 span,
.slide-2 .contenedor .contenedor-platos.elote h2 span,
.slide-2 .contenedor .contenedor-platos.sincronizadas h2 span,
.slide-2 .contenedor .contenedor-platos.queso-fundido-chorizo h2 span{
	background: #DB8B1D;
	color:#CF1C24;
}

/* ================================ SOPAS =================================== */
.slide-3 .contenedor .contenedor-platos.pozole-blanco h2 span,
.slide-3 .contenedor .contenedor-platos.sopa-frijoles h2 span,
.slide-3 .contenedor .contenedor-platos.consome-reina h2 span,
.slide-3 .contenedor .contenedor-platos.pozole-rojo h2 span{
	background: #D32A7B;
}

.slide-3 .contenedor .contenedor-platos.sopa-azteca h2 span,
.slide-3 .contenedor .contenedor-platos.sopa-pescado h2 span{
	background: #802780;
}

/* ============================= ENSALADAS =============================== */
.slide-4 .contenedor .contenedor-platos.de-los-cuates h2 span,
.slide-4 .contenedor .contenedor-platos.ranchera h2 span,
.slide-4 .contenedor .contenedor-platos.vegetariana h2 span{
	background: #006838;
}

/* ============================= TACOS ==================================== */
.slide-4 .contenedor .contenedor-platos.tacos-cuates h2 span,
.slide-4 .contenedor .contenedor-platos.cochinita-pibil h2 span,
.slide-4 .contenedor .contenedor-platos.taquiza h2 span{
	background: #D41C24;
}

.slide-4 .contenedor .contenedor-platos.tacos h2 span,
.slide-4 .contenedor .contenedor-platos.taco-sudadero h2 span,
.slide-4 .contenedor .contenedor-platos.taco-carne-asada h2 span{
	background: #882D4B;
}

E07328

/* LOS MERO MERO */

/* ====================== LAS ESTRELLAS ================================== */

.slide-6 .contenedor .contenedor-platos h2 span{
	background: #479E4D;
}

/* ================= LO MEJOR DE NUESTRO GANADO ======================== */
.slide-7 .contenedor .contenedor-platos h2 span {
	background: #E07328;
}

/* ====================== PECHUGAS PIO PIO ============================ */

/* ===================== Y EL PUERCO ================================== */

.slide-9 .contenedor .contenedor-platos h2 span {
	background: #DC2528;
}

/* ========================== MARISCOS ================================ */

.slide-10 .contenedor .contenedor-platos h2 span {
	background: #DF2062;
}

/* ==================== POSTRES ======================================== */
.slide-12 .contenedor .contenedor-platos.corbatin-charro h2 span,
.slide-12 .contenedor .contenedor-platos.nieve-cuates h2 span,
.slide-12 .contenedor .contenedor-platos.chanfle-chocolas h2 span   {
	background: #F4E425;
	color: #DD2080;
}

.slide-12 .contenedor .contenedor-platos.flan-caramelo h2 span,
.slide-12 .contenedor .contenedor-platos.brownie-helado h2 span,
.slide-12 .contenedor .contenedor-platos.queretaro h2 span   {
	background: #DD2080;
}



/* ===================================================================== */
/* ============================ SUBTITULOS ============================ */
.contenedor .contenido .contenedor-platos h3 {
	font-family: 'Bison';
	font-size: 14px;
	color: #fff;
	margin-top: -0.5em;
	margin-bottom: 1em;
	text-align: center;
}

.contenedor .contenido .contenedor-platos h3 span {
	background: #633180;
	padding: 0 0.5em;
}

/* ========================= DESCRIPCION PLATOS ============================ */
.contenedor .contenido .contenedor-platos .descripcion-platos p {
	text-align: center;
	margin-bottom: 0.3em;
	color: #fff;
	font-size: 12px;
	font-family: 'Mayan';
}

.contenedor .contenido .contenedor-platos .descripcion-platos p span{
    background: rgba(128,30,33,.5);
    padding: 0.2em;
}

.slide-2 .contenedor .contenido .contenedor-platos .descripcion-platos p span{
	background: rgba(6, 43, 25, 0.7);
	padding: 0.2em;
}

.slide-3 .contenedor .contenido .contenedor-platos .descripcion-platos p span{
	background: #FFD700;
	color: #802780;
}

.slide-4 .contenedor .contenido .contenedor-platos.tacos .descripcion-platos p span,
.slide-4 .contenedor .contenido .contenedor-platos.tacos-cuates .descripcion-platos p span,
.slide-4 .contenedor .contenido .contenedor-platos.taco-sudadero .descripcion-platos p span,
.slide-4 .contenedor .contenido .contenedor-platos.cochinita-pibil .descripcion-platos p span,
.slide-4 .contenedor .contenido .contenedor-platos.taco-carne-asada .descripcion-platos p span,
.slide-4 .contenedor .contenido .contenedor-platos.taquiza .descripcion-platos p span
{
	background: rgba(0, 46, 25, 0.5);
}

.slide-5{

}

.slide-6 .contenedor .contenido .contenedor-platos .descripcion-platos p span{
	background: rgba(61, 30, 78, 0.5);
}

.slide-7 .contenedor .contenido .contenedor-platos .descripcion-platos p span{
	background: rgba(34, 22, 9, 0.5);
}

.slide-8 .contenedor .contenido .contenedor-platos .descripcion-platos p span{
	background: rgba(34, 22, 9, 0.5);
}

.slide-9 .contenedor .contenido .contenedor-platos .descripcion-platos p span{
	background: rgba(1, 48, 23, 0.7);
}

.slide-10 .contenedor .contenido .contenedor-platos .descripcion-platos p span{
	background: rgba(5, 19, 18, 0.7);
}

.slide-12 .contenedor .contenido .contenedor-platos .descripcion-platos p span{
	background: rgba(58, 32, 39, 0.7);
}
.slide-12 .contenedor .contenido .contenedor-platos.chanfle-chocolas .descripcion-platos p span,
.slide-12 .contenedor .contenido .contenedor-platos.cola-cao .descripcion-platos p span
{
	background: rgba(247, 227, 165, 0.7);
	color: #422918;
}
/* =======================  PRECIOS   ================================ */
/* ====== PRECIOS VARIOS ======== */
.contenedor .contenido .contenedor-platos .descripcion-precios-varios {
	display: flex;
	height: auto;
	font-family: 'Bison';
	color: #fff;
	text-transform: uppercase;
	justify-content: center;
    margin: auto;
    font-size: 14px;
}

.contenedor .contenido .contenedor-platos .descripcion-precios-varios div{
    margin-right: 1em;
}

.contenedor .contenido .contenedor-platos .descripcion-precios-varios div p{
    text-align: end;
  
}

/* ===== PRECIO UNICO ======= */

.contenedor .contenido .contenedor-platos .descripcion-precio-unico{
    font-family: 'Mayan';
    color: #fff;
    text-align: center;
    font-size: 30px;
}

/* ======== ETIQUETA ======= */

.contenedor .contenido .contenedor-platos .descripcion-precio-etiqueta{
    display: flex;
    /* background: blue; */
    justify-content: space-evenly;
}

/* ======== PRECIOS NACHOS ESTILOS ESPECIALES =============== */
.contenedor .contenido .contenedor-platos .etiqueta-2 {
	font-family: 'Bison';
	font-size: 15px;
	margin-top: 0.5em;
}

.contenedor .contenido .contenedor-platos .etiqueta-2 p{
    text-align: center;
    /* background: #D8C724; */
}

.contenedor .contenido .contenedor-platos .etiqueta-2 p span {
	position: relative;
	background: #D8C724;
	color: #C22528;
	padding: 0 0.3em;
}

.contenedor .contenido .contenedor-platos .etiqueta-2 img {
	/* background: blue; */
	/* position: relative; */
	/* left: 199px; */
	/* bottom: 35px; */
	width: 16%;
}


/* ======== PRECIOS NACHOS ESTILOS FIN =============== */

/* ========== PRECIOS ALITAS SINALOA ============= */
.contenedor .contenido .contenedor-platos .descripcion-precio-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: 'Bison';
    color: #fff;
	text-transform: uppercase;
}

.contenedor .contenido .contenedor-platos .descripcion-precio-2 div {
	display: flex;
	margin-right: 0.4em;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 0.2em;
}

.contenedor .contenido .contenedor-platos .descripcion-precio-2 p{
	width: 50px;
	font-family: 'Mayan';
	font-size: 15px;
	text-align: center;
}

.contenedor .contenido .contenedor-platos .descripcion-precio-2 p span{
	text-align: center;
	font-size: 28px;
}
/* ========== PRECIOS ALITAS SINALOA FIN ============= */

.contenedor .contenido .contenedor-platos .descripcion-precio-etiqueta .precio-unico{
    font-family: 'Mayan';
    color: #fff;
    text-align: center;
    font-size: 35px;
}

.contenedor .contenido .contenedor-platos .descripcion-precio-etiqueta .etiqueta-1 {
	font-family: 'Bison';
	font-size: 16px;
	margin-top: 1em;
	transform: rotateZ(-10deg);
}

.contenedor .contenido .contenedor-platos .descripcion-precio-etiqueta .etiqueta-1 p{
    text-align: center;
    color: #C22528;
    line-height: 1.2em;
}

.contenedor .contenido .contenedor-platos .descripcion-precio-etiqueta .etiqueta-1 p span {
	background: #D8C724;
	padding: 0.1em 0.9em;
}

/* ============================= PRECIOS SOPAS ====================================== */

.slide-3 .contenedor .contenido .contenedor-platos .descripcion-precio-unico p{
	color: #590056;
}

/* ===================== UBICACION CONTENEDOR PLATOS ========================== */
	/* ======================== PA COMPARTIR ============================= */
.contenedor .contenido .contenedor-platos.tlacoyos {
	position: absolute;
	grid-area: 1 / 5/ 3 / 8;
	/* background: blue; */
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.huevos-rancheros {
	position: absolute;
	grid-area: 6 / 5 / 7 / 8;
	width: 100%;
	height: auto;
	/* background: red; */
	left: -40px;
}

.contenedor .contenido .contenedor-platos.supernacho {
	position: absolute;
	grid-area: 7 / 1 / 10 / 4;
	width: 100%;
	height: auto;
	/* background: green; */
}

.contenedor .contenido .contenedor-platos.la-gringa {
	position: absolute;
	grid-area: 12 / 7 / 15 / 10;
	width: 100%;
	height: auto;
	/* background: green; */
	top: 25px;
}

.contenedor .contenido .contenedor-platos.tostadas {
	position: absolute;
	grid-area: 2 / 9 / 5 / 12;
	width: 100%;
	height: auto;
	/* background: green; */
}

.contenedor .contenido .contenedor-platos.alitas-sinaloa {
	position: absolute;
	grid-area: 3 / 13 / 5 / 16;
	width: 100%;
	height: auto;
	/* background: green; */
	left: -27px;
}

.contenedor .contenido .contenedor-platos.nachos {
	position: absolute;
	grid-area: 1 / 16 / 3 / 19;
	width: 100%;
	height: auto;
	/* background: green; */
}

.contenedor .contenido .contenedor-platos.sopes {
	position: absolute;
	grid-area: 7 / 9 / 10 / 12;
	width: 100%;
	height: auto;
	/* background: green; */
	left: 31px;
}

.contenedor .contenido .contenedor-platos.gorditas {
	position: absolute;
	grid-area: 13 / 11 / 16 / 14;
	width: 100%;
	height: auto;
	/* background: green; */
}

.contenedor .contenido .contenedor-platos.carne-chile {
	position: absolute;
	grid-area: 12 / 15 / 16 / 18;
	width: 100%;
	height: auto;
	/* background: green; */
	top: 15px;
}

/* ====================== PA' ENTRARLE SOLITA ========================== */

.contenedor .contenido .contenedor-platos.empanadas-veracruz{
	position: absolute;
	grid-area: 2 / 9 / 8 / 15;
	width: 100%;
	height: auto;
	/* background: green; */
	/* top: 15px; */
}

.contenedor .contenido .contenedor-platos.jalapeno-relleno{
	position: absolute;
	grid-area: 8 / 1 / 14 / 6;
	width: 100%;
	height: auto;
	/* background: green; */
	/* top: 15px; */
}

.contenedor .contenido .contenedor-platos.flauta-trigo{
	position: absolute;
	grid-area: 13 / 3 / 13 / 8;
	width: 100%;
	height: auto;
	/* background: green; */
	/* top: 15px; */
}

.contenedor .contenido .contenedor-platos.flauta-maiz{
	position: absolute;
	grid-area: 12 / 9 / 18 / 14;
	width: 100%;
	height: auto;
	/* background: green; */
	/* top: 15px; */
}

.contenedor .contenido .contenedor-platos.quesadillas{
	position: absolute;
	grid-area: 3 / 16 / 5 / 20;
	width: 100%;
	height: auto;
	/* background: green; */
	/* top: 15px; */
}

.contenedor .contenido .contenedor-platos.queso-fundido {
	position: absolute;
	grid-area: 4 / 21 / 8 / 26;
	width: 100%;
	height: auto;
	/* background: green; */
	/* top: 15px; */
}

.contenedor .contenido .contenedor-platos.elote{
	position: absolute;
	grid-area: 1 / 25 / 10 / 30;
	width: 100%;
	height: auto;
	/* background: green; */
	/* top: 15px; */
}

.contenedor .contenido .contenedor-platos.sincronizadas{
	position: absolute;
	grid-area: 3 / 32 / 10 / 37;
	width: 100%;
	height: auto;
	/* background: green; */
	/* top: 15px; */
}

.contenedor .contenido .contenedor-platos.papa-chiguagua {
	position: absolute;
	grid-area: 11 / 32 / 14 / 37;
	width: 100%;
	height: auto;
	/* background: green; */
	/* top: 15px; */
}

.contenedor .contenido .contenedor-platos.esquites{
	position: absolute;
	grid-area: 12 / 21 / 15 / 25;
	width: 100%;
	height: auto;
	/* background: green; */
	/* top: 15px; */
}

.contenedor .contenido .contenedor-platos.queso-fundido-chorizo{
	position: absolute;
	grid-area: 14 / 26 / 17 / 31;
	width: 100%;
	height: auto;
	/* background: green; */
	/* top: 15px; */
}

/* ========================= SOPAS ===========================*/

.contenedor .contenido .contenedor-platos.pozole-blanco{
	position: absolute;
	grid-area: 2 / 16 / 7 / 22;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.sopa-azteca{
	position: absolute;
	grid-area: 11 / 7 / 17 / 12;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.sopa-frijoles{
	position: absolute;
	grid-area: 12 / 14 / 17 / 19;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.consome-reina{
	position: absolute;
	grid-area: 2 / 26 / 7 / 31;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.sopa-pescado{
	position: absolute;
	grid-area: 7 / 30 / 17 / 36;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.pozole-rojo{
	position: absolute;
	grid-area: 13 / 28 / 17 / 34;
	width: 100%;
	height: auto;
}

/* =========================== ENSALADAS ============================== */

.contenedor .contenido .contenedor-platos.de-los-cuates{
	position: absolute;
	grid-area: 8 / 12 / 17 / 17;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.vegetariana{
	position: absolute;
	grid-area: 11 / 2 / 17 / 8;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.ranchera{
	position: absolute;
	grid-area: 14 / 9 / 16 / 14;
	width: 100%;
	height: auto;
}

/* ============================ TACOS ==================== */

.contenedor .contenido .contenedor-platos.tacos{
	position: absolute;
	grid-area: 1 / 20 / 18 / 25;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.tacos-cuates{
	position: absolute;
	grid-area: 1 / 30 / 6 / 36;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.cochinita-pibil{
	position: absolute;
	grid-area: 6 / 20 / 17 / 26;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.taquiza{
	position: absolute;
	grid-area: 13 / 30 / 17 / 36;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.taco-sudadero{
	position: absolute;
	grid-area: 14 / 26 / 17 / 30;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.taco-carne-asada{
	position: absolute;
	grid-area: 5 / 26 / 10 / 31;
	width: 100%;
	height: auto;
}


/* ======================= MERO MERO ============================ */
.contenedor .contenido .contenedor-platos.chimichangas{
	position: absolute;
	grid-area: 1 / 6 / 10 / 13;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.alambres{
	position: absolute;
	grid-area: 9 / 8 / 13 / 13;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.chilaquies{
	position: absolute;
	grid-area: 13 / 2 / 16 / 9;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.fajitas{
	position: absolute;
	grid-area: 13 / 12 / 14 / 18;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.enchilada{
	position: absolute;
	grid-area: 8 / 14 / 14 / 19;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.enchilada-tres-cuates{
	position: absolute;
	grid-area: 2 / 13 / 7 / 19;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.enchilada-ranchera{
	position: absolute;
	grid-area: 10 / 18 / 15 / 24;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.enmolada-pancho{
	position: absolute;
	grid-area: 5 / 26 / 10 / 31;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.burrito{
	position: absolute;
	grid-area: 5 / 19 / 10 / 26;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.burrito-cuates{
	position: absolute;
	grid-area: 2 / 21 / 10 / 28;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.huarache{
	position: absolute;
	grid-area: 7 / 31 / 12 / 37;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.supermachote{
	position: absolute;
	grid-area: 12 / 24 / 16 / 31;
	width: 100%;
	height: auto;
}

/* =================== LAS ESTRELLAS ===================== */

.contenedor .contenido .contenedor-platos.tabla-ranchera{
	position: absolute;
	grid-area: 12 / 7 / 16 / 13;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.plato-cuates{
	position: absolute;
	grid-area: 3 / 26 / 16 / 33;
	width: 100%;
	height: auto;
}

/* =================== LO MEJOR DE NUESTRO GANADO ================== */

.contenedor .contenido .contenedor-platos.bistec-chente{
	position: absolute;
	grid-area: 3 / 11 / 8 / 17;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.lomo-norteno{
	position: absolute;
	grid-area: 9 / 2 / 14 / 8;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.sabana-monterrey{
	position: absolute;
	grid-area: 14 / 7 / 18 / 13;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.tampiquena{
	position: absolute;
	grid-area: 4 / 19 / 10 / 25;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.lomo-ranchero{
	position: absolute;
	grid-area: 9 / 21 / 15 / 27;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.lomo-vaquero{
	position: absolute;
	grid-area: 9 / 31 / 16 / 36;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.t-bone-tejano{
	position: absolute;
	grid-area: 13 / 26 / 16 / 32;
	width: 100%;
	height: auto;
}

/* ================= PECHUGAS PIO PIO ===================== */

.contenedor .contenido .contenedor-platos.pechuga-mole{
	position: absolute;
	grid-area: 13 / 10 / 16 / 15;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.pechuga-nortena{
	position: absolute;
	grid-area: 5 / 16 / 11 / 22;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.ave-corto-vuelo{
	position: absolute;
	grid-area: 2 / 26 / 8 / 32;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.pechuga-a-lo-mexicano{
	position: absolute;
	grid-area: 13 / 21 / 16 / 27;
	width: 100%;
	height: auto;
}

/* ==================== Y EL PUERCO ================================== */

.contenedor .contenido .contenedor-platos.chuletas-ahumadas{
	position: absolute;
	grid-area: 10 / 5 / 14 / 10;	
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.costillas-cochi{
	position: absolute;
	grid-area: 11 / 20 / 16 / 25;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.chuletas-cochi{
	position: absolute;
	grid-area: 4 / 27 / 16 / 32;
	width: 100%;
	height: auto;
}

/* ========================= MARISCOS ==================== */

.contenedor .contenido .contenedor-platos.ceviche-cuates{
	position: absolute;
	grid-area: 3 / 13 / 15 / 18;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.fajitas-langostino{
	position: absolute;
	grid-area: 11 / 3 / 16 / 9;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.enchilada-camaron{
	position: absolute;
	grid-area: 2 / 30 / 8 / 36;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.enchilada-cangrejo{
	position: absolute;
	grid-area: 6 / 23 / 16 / 28;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.guachinango{
	position: absolute;
	grid-area: 13 / 21 / 18 / 27;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.fajitas-camaron{
	position: absolute;
	grid-area: 12 / 31 / 17 / 36;
	width: 100%;
	height: auto;
}

/* ========================= POSTRES ===================== */
.contenedor .contenido .contenedor-platos.chanfle-chocolas{
	position: absolute;
	grid-area: 13 / 20 / 16 / 26;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.corbatin-charro{
	position: absolute;
	grid-area: 6 / 3 / 11 / 8;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.queretaro{
	position: absolute;
	grid-area: 15 / 7 / 18 / 13;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.brownie-helado{
	position: absolute;
	grid-area: 2 / 20 / 8 / 25;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.cola-cao{
	position: absolute;
	grid-area: 11 / 25 / 15 / 30;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.nieve-cuates{
	position: absolute;
	grid-area: 11 / 2 / 17 / 7;
	width: 100%;
	height: auto;
}

.contenedor .contenido .contenedor-platos.flan-caramelo{
	position: absolute;
	grid-area: 5 / 15 / 9 / 20;
	width: 100%;
	height: auto;
}

/* =================== TÍTULO PÁGINA ===================== */
article img{
    display: block;
    margin: 0.5rem auto;
    width: 20%;

} 

/* article.slide-10 img{
    display: block;
    margin: 0.5rem auto;
	width: 90%;
	background: red;
}  */

.contenedor-titulos-pagina-doble{
	display: flex;
}

.contenedor-titulo-pagina-mariscos{
	display: flex;
	align-items: center;
	/* background: blue; */
}

.contenedor-titulo-pagina-mariscos img:nth-child(1){
	width: 40px;
	max-width: 40px;
}
.contenedor-titulo-pagina-mariscos img:nth-child(3){
	width: 40px;
	max-width: 40px;
}

/* ==================== FOOTER ========================= */

.footer {
	display: flex;
	width: 100%;
	height: 10vh;
	background: #2C0D10;
	position: absolute;
	bottom: 0;
	align-items: center;
	z-index: 500;
}


.footer .contenedor-footer{
    display: flex;
    width: 100%;
    height: 170px;
    position: relative;
    justify-content:center;
    align-items: flex-end;
}

.footer .contenedor-footer .caja-1{
    width: 100%;
    height: 60%;
    position: absolute;
    /* background: #2C0D10; */
    /* box-shadow: 0px 0px 40px rgba(0,0,0,10); */
    z-index: 100;
}

.footer .contenedor-footer .caja-2 {
	display: flex;
	width: 100%;
	height: 43%;
	position: absolute;
	z-index: 0;
	align-self: flex-start;
}

.contenedor-impuestos {
	position: absolute;
	width: 50%;
	left: 0;
	bottom: 50%;
}

.contenedor-impuestos p {
	width: 40%;
	background: rgba(25, 2, 39, 0.6);
	font-family: 'Russian';
	color: #fff;
	text-align: center;
	margin: auto;
}
/* PATRON */

.footer .patron-footer {
	width: 99.9%;
	position: absolute;
	z-index: 400;
	overflow: hidden;
	top: 70px;
	align-content: center;
}
.footer .patron-footer img{
    width: 1600px;
}

.footer .imagen-mitad-del-mundo {
	display: flex;
	width: 100%;
	height: auto;
	position: relative;
	bottom: 82px;
	justify-content: center;
	z-index: 200;
}

.imagen-mitad-del-mundo img.monumento {
	position: relative;
	width: 26%;
	max-width: 94px;
	height: 10%;
	z-index: 500;
}

.contenedor-alas {
	display: flex;
	width: 100%;
	max-width: 380px;
	height: auto;
	position: absolute;
	align-self: flex-start;
	align-content: flex-start;
	justify-content: space-evenly;
	z-index: 100;
}

.contenedor-alas img.alas-izq {
	width: 18%;
	height: 64%;
	z-index: 500;
	animation: animacion-alas-izq 1.5s 3s ease-in-out alternate-reverse infinite;
	animation-fill-mode: forwards;
	margin-right: 24%;
	margin-top: -4%;
}

.contenedor-alas img.alas-der{
    width: 18%;
	height: 64%;
	z-index: 500;
	animation: animacion-alas-der 1.5s 3s ease-in-out alternate-reverse infinite;
	animation-fill-mode: forwards;
	margin-left: 24%;
	margin-top: -4%;
    transform: scaleX(-1);
}

/* ANIMACIONES ALAS  */

@keyframes animacion-alas-izq{
    0% {transform: rotate(-10deg) translateY(15px);}
    20% {transform: rotate(0deg) translateY(0px);}
    75% {transform: rotate(-15deg) translateY(15px);}
    100% {transform: rotate(0deg) translateY(0px);}
}
@keyframes animacion-alas-der{
    0% {transform: rotate(10deg) scaleX(-1) translateY(15px);}
    20% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
    75% {transform: rotate(15deg) scaleX(-1) translateY(15px);}
    100% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
}

/* ======== IMAGENES FOOTER COSTADOS ========== */

.footer .imagen-izquierda-footer{
    display: flex;
    width: 100%;
}

.footer .imagen-izquierda-footer img{
    width: 26%;
    max-width: 100px;
    position: absolute;
    align-self: flex-end;
}

.footer .imagen-derecha-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.footer .imagen-derecha-footer img{
    width: 26%;
    max-width:100px;
    position: absolute;
    align-self: flex-end;
}



/* ================ REDES SOCIALES ===================== */

.footer .redes-sociales{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 25px;
    z-index: 500;
}


.footer .redes-sociales a {
	display: flex;
	width: 40px;
	height: 40px;
	background: #fff;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	margin: 7px;
	color: #2C0D10;
	transition: 0.4s;
	margin-bottom: 65px;
	text-decoration: none;
}

.footer .redes-sociales a:hover{
    background: #2C0D10;
    color: #fff;
    font-size: 30px;
}

.redes-sociales img{
    position: absolute;
    width: 40px;
}
