/*================= FUENTES ==========================*/
@font-face{
    font-family: 'Mayan';
    src: url(../fonts/Mayan\ 2.ttf);
}

@font-face{
    font-family: 'Helvetica';
    src: url(../fonts/HelveticaLTStd-UltraComp.otf);
}

@font-face{
    font-family: 'Woodstand';
    src: url(../fonts/Woodstamp.otf);
}

@font-face{
    font-family: 'Bebas';
    src: url(../fonts/BebasNeue\ Book.otf)
}

/*=============== ESTILOS GENERALES ===============*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;   
    background: #E62256;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #000;
}

/*=====================================================*/
/*=============== CONTENEDOR PRINCIPAL ===============*/
/*===================================================*/
.contenedor {
    background-color: #fff;
    background-image: url(../imagenes/Toque-de-los-cuates/Background-480.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

/*=========================== CORTINAS ========================== */

.contenedor .contenedor-cortina .contenedor-cortina-izquierda{
    position: absolute;
    background-image: url(../imagenes/Imagen-cortina.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:170px;
    height:750px;
    top: -100px;
    z-index: 200;
    left: -10px;
}

.contenedor .contenedor-cortina .contenedor-cortina-derecha{
    position: absolute;
    background-image: url(../imagenes/Imagen-cortina.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:170px;
    height:750px;
    top: -100px;
    right: 0 ;
    transform: scaleX(-1);
    z-index: 200;
}

.contenedor .contenedor-guirnaldas{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 600;
    overflow: hidden;
}

.contenedor .contenedor-guirnaldas img{
    width: 1200px;
}

/*=================  CONTENEDOR DE GRILLA  ===============*/
.contenedor .contenedor-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 300;
}

/*===================  GRILLA  ========================*/
.contenedor .contenedor-grid .grid{
    width: 100%;
    height: 100vh;
    display:grid;
    grid-gap:10px;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo contenido-principal logo-2"
                         "aside-izquierda contenido-principal aside-derecha"
                         "footer footer footer";

}

/*===========================================================*/
/*====================== HEADER ============================*/
/*=========================================================*/

/*================= NAVEGADOR PRINCIPAL =================*/
/*==================  BOTÓN MENÚ  =====================*/
.menu-principal-toggle{
    display:flex;
    grid-area: logo-2;
    width: 1.3rem;
    height: 1rem;
    background:linear-gradient(white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%,white 80% );
    cursor: pointer;
    z-index: 800;
    position: absolute;
    right: 45px;
    top: 70px;
}

.menu-imagen{
    grid-area: logo-2;
    position: absolute;
    top: 36px;
    right: 14px;
}

.menu-imagen img{
    width: 83px;
}

/*======================BARRA DE MENÚ===================== */
.nav-principal{
    display: flex;
    position: fixed;
    height: calc(100vh - 4rem);
    height: 240px;
    width: 290px;
    background: #2C0D10;
    left: -80vh;
    z-index: 700;
    top: 1rem;
    transition: left 0.8s ease-in-out;
    align-items: center;
    justify-content: center;
    font-family: Mayan;
}

.nav-principal .marco-menu{
    width: 100%;
}

.nav-principal.show{
    left: 0;
}

.menu-principal{
   display: flex;
   position: absolute;
   flex-direction: column;
   width: 90%;
   height: 95%;
   justify-content: center;
   align-items: center;

}

.menu-principal-item{
    width: 85%;
    height: 16%;
    list-style: none;
    text-align: center;
    line-height: 40px;
    transition: 0.3s ease-in;
    cursor: pointer;

}

.menu-principal-item:not(:last-of-type){
     border-bottom: 1px ridge #fff ;
}

.menu-principal-item:hover{
    width: 80%;
    height: 16%;
    list-style: none;
    text-align: center;
    background: rgb(107, 32, 39);

}

.menu-principal a{
    display: block;
    font-size: 10px;
    color: #fff;
    width: 100%;
}


/* ==================== LOGOS ==================*/

/* ====== LOGOTIPO LA VECIDAD DE LOS CUATES ===*/
.contenedor-logo-principal{
    grid-area: logo;
    width: 100%;
    height: 60px;
}

.contenedor-logo-principal img{
    width: 110px;
    margin-top: 2rem;
    margin-left: 0.3rem;
}

/* ============ BOTÓN EVENTOS NAVEGADOR =============== */

.contenedor-logo-principal .contenedor-botones-aside img{
    width: 100%;
    margin-left: 0.5rem;
    margin-top: 3.0rem;

}

/*==================== LOGOTIPO CUATES MÁS CHIDOS ==================*/
.contenedor-logo-2{
    grid-area: logo-2;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.contenedor-logo-2 img{
    width: 160%;
    height: auto;
    margin-top: 10.5rem;
    margin-left: -2.5rem;
}

/*===========================================================*/
/*=============== CONTENIDO PRINCIPAL========================*/
/*=========================================================*/

.main{
    grid-area: contenido-principal;
    width: 100%;
    height: auto;
}

.main .contenido-principal{
    position: relative;
    width: 80%;
    /* background: red; */
    margin: auto;
    margin-top: 2.5rem;
}

.contenedor-imagen-principal img{
    display: block;
    width: 60%;
    min-width: 100px;
    max-width: 150px;
    margin: auto;
}

/* ===== INFORMACIÓN DE PÁGINA *=== */

.contenedor-informacion{
    width: 95%;
    /* background: lightyellow; */
    margin: auto;
    margin-top: 20px;
}

.contenedor-informacion p{
    font-family: Bebas;
    font-size: 13px;
    text-align: center;
    width: 70%;
    margin: auto;
    color: #2C0D10;
}
.contenedor-informacion p::first-line{
    color: red;
}

.contenedor-informacion-imagen{
    display: flex;
    flex-direction:row-reverse;
    width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.contenedor-mas-info{
    width: 100%;
}

.contenedor-mas-info p{
    font-family: Helvetica;
    font-size: 12px;
    text-align: right;
    color: #7F4F25;
    width: 100%;
}

.contenedor-imagen-evento{
    width: 100%; 
}

.contenedor-imagen-evento img{
    width: 100%;
    min-width: 70px;
    transform: rotateZ(10deg);
    margin-left: -10px;
    margin-top: 20px;
}

/* ============== FIN CONTENIDO PRINCIPAL DE PÁGINA ======*/
/* ======================================================= */

/* ================ ESTILOS ASIDE ================== */

.contenedor-botones-aside{
    width: 115px;
    /* border: 1px solid lightpink; */
}

/*==================== ASIDE DERECHA ==================*/
.aside-derecha{
    display: flex;
    grid-area: aside-derecha;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.aside-derecha .contenedor-botones-aside:first-child{
    margin-left: 0;
    margin-top: 0.5rem;
}

.aside-derecha .contenedor-botones-aside:last-child{
    margin-left: 0.2rem;
    margin-top: 2rem;
}

/*==================== ASIDE IZQUIERDA ==================*/
.aside-izquierda{
    display: flex;
    grid-area: aside-izquierda;
    width: 100%;
    height: 100%;
    flex-direction: column;

}

.aside-izquierda .contenedor-botones-aside:first-child{
    margin-left: 0;
    margin-top: 1rem;
}

.aside-izquierda .contenedor-botones-aside:last-child{
    margin-left: 0;
    margin-top: 2rem;
}
/*===================================================*/
/*==================== FOOTER ======================*/
/*=================================================*/

.footer{
    grid-area: footer;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.footer .contenedor-footer{
    display: flex;
    width: 100%;
    height: 170px;
    position: relative;
    justify-content:center;
    align-items: flex-end;
}


.footer .contenedor-footer .caja-1{
    width: 100%;
    height: 60%;
    position: absolute;
    background: #2C0D10;
    box-shadow: 0px 0px 40px rgba(0,0,0,10);
    z-index: 100;
}

.footer .contenedor-footer .caja-2{
    display: flex;
    width: 100%;
    height: 40%;
    position: absolute;
    z-index: 0;
    align-self:flex-start;
}

/* PATRON */
.footer .patron-footer{
    width: 99.9%;
    position:absolute;
    z-index: 400;
    overflow: hidden;
    bottom: 35px;
}

.footer .patron-footer img{
    width: 1000px;
}

.footer .imagen-mitad-del-mundo{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 60px;
    justify-content: center;
    z-index: 200;
}

.imagen-mitad-del-mundo img.monumento{
    position: relative;
    width: 30%;
    max-width: 110px;
    height: 10%;
    z-index: 500;
}

.contenedor-alas{
    display: flex;
    width: 100%;
    max-width: 400px;
    height: auto;
    position: absolute;
    align-self: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    z-index: 100;
}

.contenedor-alas img.alas-izq{
    width: 24%;
    height: 30%;
    z-index: 500;
    animation: animacion-alas-izq 1.5s 3s ease-in-out alternate-reverse  infinite;
    animation-fill-mode: forwards;
    margin-right: 30%;
    margin-top: -5%;
}

.contenedor-alas img.alas-der{
    width: 24%;
    height: 10%;
    z-index: 500;
    animation: animacion-alas-der 1.5s 3s ease-in-out alternate-reverse infinite;
    animation-fill-mode: forwards;
    transform: scaleX(-1);
    margin-left: 30%;
    margin-top: -5%;
}

/* ANIMACIONES ALAS  */

@keyframes animacion-alas-izq{
    0% {transform: rotate(-10deg) translateY(15px);}
    20% {transform: rotate(0deg) translateY(0px);}
    75% {transform: rotate(-15deg) translateY(15px);}
    100% {transform: rotate(0deg) translateY(0px);}
}
@keyframes animacion-alas-der{
    0% {transform: rotate(10deg) scaleX(-1) translateY(15px);}
    20% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
    75% {transform: rotate(15deg) scaleX(-1) translateY(15px);}
    100% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
}

/* ======== IMAGENES FOOTER COSTADOS ========== */

.footer .imagen-izquierda-footer{
    display: flex;
    width: 100%;
}

.footer .imagen-izquierda-footer img{
    width: 26%;
    max-width: 100px;
    position: absolute;
    align-self: flex-end;
}

.footer .imagen-derecha-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.footer .imagen-derecha-footer img{
    width: 26%;
    max-width:100px;
    position: absolute;
    align-self: flex-end;
}

/* ================ REDES SOCIALES ===================== */
.footer .redes-sociales{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 25px;
    z-index: 500;
}


.footer .redes-sociales a{
    display: flex;
    width: 50px;
    height: 50px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin:  7px;
    color: #2C0D10;
    transition: 0.4s;
    margin-top: -80px;
}

.footer .redes-sociales a:hover{
    background: #2C0D10;
    color: #fff;
    font-size: 30px;
}

.redes-sociales img{
    position: absolute;
    width: 40px;
}


