/*================= FUENTES ==========================*/
@font-face{
    font-family: 'Mayan';
    src: url(../fonts/Mayan\ 2.ttf);
}

@font-face{
    font-family: 'Helvetica Bold';
    src: url(../fonts/HelveticaLTStd-Bold.otf);
}

@font-face{
    font-family: 'Helvetica UltraComp';
    src: url(../fonts/HelveticaLTStd-UltraComp.otf);
}

@font-face{
    font-family: 'Woodstand';
    src: url(../fonts/Woodstamp.otf);
}

/*=============== ESTILOS GENERALES ===============*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../imagenes/Ubicanos/Background-480.png);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    font-size: 16px; 
}

a{
    text-decoration: none;
    color: #000;
}

/*=====================================================*/
/*=============== CONTENEDOR PRINCIPAL ===============*/
/*===================================================*/
.contenedor {
    height: 100vh;
    position: relative;
}

/*=========================== CORTINAS ========================== */

.contenedor .contenedor-cortina .contenedor-cortina-izquierda{
    position: absolute;
    background-image: url(../imagenes/Imagen-cortina.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:170px;
    height:750px;
    top: -100px;
    z-index: 200;
    left: -10px;
}

.contenedor .contenedor-cortina .contenedor-cortina-derecha{
    position: absolute;
    background-image: url(../imagenes/Imagen-cortina.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:170px;
    height:750px;
    top: -100px;
    right: 0 ;
    transform: scaleX(-1);
    z-index: 200;
}

/* GUIRNALDAS */
.contenedor .contenedor-guirnaldas{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 600;
    overflow: hidden;
}

.contenedor .contenedor-guirnaldas img{
    width: 1500px;
}

/*=================  CONTENEDOR DE GRILLA  ===============*/
.contenedor .contenedor-grid {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 300;
}

/*===================  GRILLA  ========================*/
.contenedor .contenedor-grid .grid{
    width: 100%;
    height: 100vh;
    display:grid;
    grid-gap:10px;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo contenido-principal logo-2"
                         "aside-izquierda contenido-principal aside-derecha"
                         "footer footer footer";

}

/*===========================================================*/
/*====================== HEADER ============================*/
/*=========================================================*/

/*================= NAVEGADOR PRINCIPAL =================*/
/*==================  BOTÓN MENÚ  =====================*/
.contenedor-boton-menu{
    position: relative;
    width: auto;
    margin-right: 20px;
}

.menu-principal-toggle{
    display:flex;
    grid-area: logo-2;
    width: 1.3rem;
    height: 1rem;
    background:linear-gradient(white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%,white 80% );
    cursor: pointer;
    z-index: 800;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.menu-imagen img{
    width: 70px;
}

/*======================BARRA DE MENÚ===================== */
/* BARRA MENÚ ESCRITORIO */
.barra-menu{
    display: none;
}

.nav-principal{
    display: flex;
    position: fixed;
    height: calc(100vh - 4rem);
    height: 240px;
    width: 290px;
    background: #2C0D10;
    left: -80vh;
    z-index: 700;
    top: 1rem;
    transition: left 0.8s ease-in-out;
    align-items: center;
    justify-content: center;
    font-family: Mayan;
}

.nav-principal .marco-menu{
    width: 100%;
}

.nav-principal.show{
    left: 0;
}

.menu-principal{
   display: flex;
   position: absolute;
   flex-direction: column;
   width: 90%;
   height: 95%;
   justify-content: center;
   align-items: center;

}

.menu-principal-item{
    width: 85%;
    height: 16%;
    list-style: none;
    text-align: center;
    line-height: 40px;
    transition: 0.3s ease-in;

}

.menu-principal-item:not(:last-of-type){
     border-bottom: 1px ridge #fff ;
}

.menu-principal-item:hover{
    width: 80%;
    height: 16%;
    list-style: none;
    text-align: center;
    background: rgb(107, 32, 39);

}

.menu-principal a{
    display: block;
    font-size: 10px;
    color: #fff;
    width: 100%;
}

/* ==================== SECCIÓN LOGOS =======================*/

/* ====== LOGOTIPO LA VECIDAD DE LOS CUATES ===*/
.contenedor-logo-principal {
    grid-area: logo;
    display: flex;
	width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    /* margin-left: 20px; */
    margin-top: 20px;
}

.contenedor-logo-principal img{
    width: 80px;
}

/*==================== LOGOTIPO CUATES MÁS CHIDOS ==================*/
.contenedor-logo-2{
    grid-area: logo-2;
    display:flex;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: flex-end;
    box-sizing: border-box;
    margin-top: 20px;
}

.contenedor-logo-2 .logo-2 img{
    border-radius: initial;
}

/*===========================================================*/
/*=============== CONTENIDO PRINCIPAL ========================*/
/*=========================================================*/

.main{
    grid-area: contenido-principal;
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
}

.main .contenido-principal{
    width: 70%;
    height: auto;
}

#escritorio{
    display: none;
}

/* ================ INFORMACIÓN LOCALES ESTILOS PARTICULARES =================== */

/* == EL BATÁN == */

.contenido-batan{
    display: flex;
    width: 80%; 
    margin: auto;
    margin-bottom: 1em;
}

/* == CONDADO SHOPING == */

.contenido-condado{
    display: flex;
    width: 100%; 
    margin-bottom: 1em;
}

.contenido-condado .contenedor-info-local{
    margin-left: 0.7em;
}

.contenido-condado .contenedor-sombrero{
    width: 70px;
    height: 100%;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

/* == EL BOSQUE == */

.contenido-bosque{
    display: flex;
    flex-direction: row-reverse;
    width: 100%; 
    margin-bottom: 1em;
}

.contenido-bosque .contenedor-info-local{
    margin-right: 0;
}

.contenido-bosque .contenedor-limon{
    width: 50px;
    height: 100%;
    margin: auto;
}

/* == CUMBAYA == */

.contenido-cumbaya{
    display: flex;
    width: 90%; 
    margin-bottom: 1em;
}

.contenido-cumbaya .contenedor-tequila{
    width: 40px;
    height: 100%;
}

/* == LA FLORESTA == */

.contenido-floresta{
    display: flex;
    flex-direction: row-reverse;
    width: 80%; 
    margin: auto;
    margin-bottom: 1em;
    
}

.contenido-floresta .contenedor-captus{
    width: 50px;

}

/* ========= ESTILOS GENERALES DE INFOMRACIÓN ============ */
.contenedor-info-local{
    position: relative;
    width: 150px;
    font-family: 'Helvetica UltraComp';
    margin: auto;
}

.contenedor-info-local img {
	width: 90px;
	margin: auto;
    display: block;
    margin-bottom: 0.2em;
}

.contenedor-info-local .direccion{
    width: 90%;
    margin: auto;
    line-height: 10px;
    letter-spacing: 0.9px; 
    font-size: 11px;
    color: #fff;
}

.contenedor-info-local .telefono{
    font-family: Woodstand;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: #FABC1A;
    margin-left: 25px;
}

.contenedor-info-local .telefono-numero{
    width: 75%;
    letter-spacing: 0.8px;
    font-family: 'Helvetica UltraComp';
    color: #fff;
    font-size: 12px;
    margin-left: 2em;
}


/* ============== FIN CONTENIDO PRINCIPAL DE PÁGINA ======*/
/* ======================================================= */

/* ======================== ASIDE GENERAL ENLACE ===============*/
.enlace {
	display: block;
	border-radius: 100%;
}

.enlace img {
	display: block;
	width: 100px;
	border-radius:100%;
}
/*==================== ASIDE DERECHA ==================*/
.aside-derecha{
    grid-area: aside-derecha;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
}

/*==================== ASIDE IZQUIERDA ==================*/
.aside-izquierda{
    display: flex;
    grid-area: aside-izquierda;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
}
.aside-izquierda .contenedor-botones-aside:first-child{
    display: none;
}

.aside-izquierda .contenedor-botones-aside:last-child{
    margin-left: 0px;
    margin-top: 10px;
}

.aside-izquierda .contenedor-botones-aside:first-child{
    margin-left: -10px;
    margin-top: 20px;
}
/*===================================================*/
/*==================== FOOTER ======================*/
/*=================================================*/

.footer{
    grid-area: footer;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.footer .contenedor-footer{
    display: flex;
    width: 100%;
    height: 170px;
    position: relative;
    justify-content:center;
    align-items: flex-end;
}

.footer .contenedor-footer .caja-1{
    width: 100%;
    height: 60%;
    position: absolute;
    background: #2C0D10;
    box-shadow: 0px 0px 40px rgba(0,0,0,10);
    z-index: 100;
}

.footer .contenedor-footer .caja-2{
    display: flex;
    width: 100%;
    height: 40%;
    position: absolute;
    z-index: 0;
    align-self:flex-start;
}

/* PATRON */
.footer .patron-footer{
    width: 99.9%;
    position:absolute;
    z-index: 400;
    overflow: hidden;
    bottom: 35px;
}

.footer .patron-footer img{
    width: 1000px;
}

.footer .imagen-mitad-del-mundo{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 60px;
    justify-content: center;
    z-index: 200;
}

.imagen-mitad-del-mundo img.monumento{
    position: relative;
    width: 30%;
    max-width: 110px;
    height: 10%;
    z-index: 500;
}

.contenedor-alas{
    display: flex;
    width: 100%;
    max-width: 400px;
    height: auto;
    position: absolute;
    align-self: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    z-index: 100;
}

.contenedor-alas img.alas-izq{
    width: 24%;
    height: 30%;
    z-index: 500;
    animation: animacion-alas-izq 1.5s 3s ease-in-out alternate-reverse  infinite;
    animation-fill-mode: forwards;
    margin-right: 30%;
    margin-top: -5%;
}

.contenedor-alas img.alas-der{
    width: 24%;
    height: 10%;
    z-index: 500;
    animation: animacion-alas-der 1.5s 3s ease-in-out alternate-reverse infinite;
    animation-fill-mode: forwards;
    transform: scaleX(-1);
    margin-left: 30%;
    margin-top: -5%;
}

/* ANIMACIONES ALAS  */

@keyframes animacion-alas-izq{
    0% {transform: rotate(-10deg) translateY(15px);}
    20% {transform: rotate(0deg) translateY(0px);}
    75% {transform: rotate(-15deg) translateY(15px);}
    100% {transform: rotate(0deg) translateY(0px);}
}
@keyframes animacion-alas-der{
    0% {transform: rotate(10deg) scaleX(-1) translateY(15px);}
    20% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
    75% {transform: rotate(15deg) scaleX(-1) translateY(15px);}
    100% {transform: rotate(0deg) scaleX(-1) translateY(0px);}
}

/* ======== IMAGENES FOOTER COSTADOS ========== */

.footer .imagen-izquierda-footer{
    display: flex;
    width: 100%;
}

.footer .imagen-izquierda-footer img{
    width: 26%;
    max-width: 100px;
    position: absolute;
    align-self: flex-end;
}

.footer .imagen-derecha-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.footer .imagen-derecha-footer img{
    width: 26%;
    max-width:100px;
    position: absolute;
    align-self: flex-end;
}

/* ================ REDES SOCIALES ===================== */
.footer .redes-sociales{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 25px;
    z-index: 500;
}


.footer .redes-sociales a{
    display: flex;
    width: 50px;
    height: 50px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin:  7px;
    color: #2C0D10;
    transition: 0.4s;
    margin-top: -80px;
}

.footer .redes-sociales a:hover{
    background: #2C0D10;
    color: #fff;
    font-size: 30px;
}

.redes-sociales img{
    position: absolute;
    width: 50px;
}
.redes-sociales p{
    color: #fff;
    font-family: 'Helvetica Bold';
    font-size: 9px;
}

/* ============================================================================ */
/* ============================== RESPONSIVE ================================= */
/* ========================================================================== */

@media screen and (max-width: 360px){

    .main .contenido-principal{
        /* border: 1px solid #E62256; */
        font-size: 12px;
    }
    
    /* ================ INFORMACIÓN LOCALES ESTILOS PARTICULARES =================== */
    
    /* == EL BATÁN == */ 
    .contenido-batan{
        width: 70%; 
        margin-bottom: 1em;
    }
    
    /* == CONDADO SHOPING == */
    .contenido-condado{
        width: 80%;
        margin-left: 0.7rem;
        margin-bottom: 1em;
    }
    
    .contenido-condado .contenedor-sombrero{
        display: none;
    }
    
    .contenido-bosque .contenedor-limon{
        display: none;
    }
    
    /* == CUMBAYA == */

    .contenido-cumbaya{
        margin: auto;
        margin-bottom: 1em;
    }
    
    .contenido-cumbaya .contenedor-tequila{
        display: none;
    }
    
    /* == LA FLORESTA == */
    
    .contenido-floresta{
        width: 80%;
    }
    .contenido-floresta .contenedor-captus{
        display: none;
    }
    
    /* ========= ESTILOS GENERALES DE INFOMRACIÓN ============ */
    
    .contenedor-info-local img{
        width: 70px;
        margin-left: 1.5em;
    }
    
    .contenedor-info-local .direccion{
        font-size: 10px;
    }
    
}

@media screen and (min-width: 479px){
    
    .contenedor .contenedor-cortina .contenedor-cortina-izquierda{
        background-image: url(../imagenes/Imagen-cortina.png);
        width:40%;
        height:110vh;
        left: 0;
        top: -120px;
    }

    .contenedor .contenedor-cortina .contenedor-cortina-derecha{
        background-image: url(../imagenes/Imagen-cortina.png);
        width:40%;
        height:110vh;
        right: 0;
        top: -120px;
    }

    /* ASIDE IZQUIERDA */
    .aside-izquierda {
        justify-content: space-evenly;
    }
    /* ASIDE DERECHA */
    .aside-derecha {
        justify-content: space-evenly;
    }
    .enlace img {
        width: 120px;
    }

    /* CONTENIDO PRINCIPALS*/

    .contenedor-info-local .direccion {
        line-height: 1em;
        font-size: 17px;
    }

    .contenedor-info-local .telefono {
        font-size: 16px;
        letter-spacing: 0.6px;
    }

    .contenedor-info-local .telefono-numero {
        font-size: 15px;
        margin-left: 2em;
    }
}

/* TABLET */
@media screen and (min-width: 639px){

    .contenedor .contenedor-guirnaldas img {
        width: 2000px;
    }

    body{
        background-image: url(../imagenes/Ubicanos/Background-ubicanos-tablet.png);
    }

    /* CONTENIDO PRINCIPAL */

    .main .contenido-principal {
        width: 55%;
        height: auto;
    }

    .contenedor-info-local img {
        width: 100px;
        margin-bottom: 0.5em;
    }

    .contenedor-info-local {
        width: 190px;
        font-family: 'Helvetica UltraComp';
    }

    .contenedor-info-local .direccion {
        width: 99%;
    }

    .contenedor-info-local .direccion {
        line-height: 1.1em;
        font-size: 20px;
    }

    .contenedor-info-local .telefono {
        font-size: 18px;
        letter-spacing: 0.6px;
    }

    .contenedor-info-local .telefono-numero {
        width: 100%;
        font-size: 17px;
        margin-left: 2em;
    }

    .contenido-batan, .contenido-condado,
    .contenido-bosque, .contenido-cumbaya,
    .contenido-floresta {
        margin-bottom: 2em;
    }

    .contenido-floresta {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
    }

    /* ASIDE */
    .enlace img {
        width: 135px;
    }
}

@media screen and (min-width: 767px){

    .menu-imagen img {
        width: 80px;
    }

    .enlace img {
        width: 150px;
    }

    /* NAV */
    .nav-principal {
        height: 320px;
        width: 400px;
        top: 2rem;
    }

    .menu-principal-item {
        height: 16%;
        line-height: 55px;
    }

    .menu-principal a {
        font-size: 13px;
    }
}

@media screen and (min-width: 1024px){
    body{
        background-image: url(../imagenes/Ubicanos/Background-ubicanos-escritorio.png);
    }

    .contenedor .contenedor-guirnaldas img {
        width: 2000px;
    }

    .contenedor .contenedor-cortina .contenedor-cortina-izquierda{
        background-image: url(../imagenes/Cortina-escritorio-02.png);
        width:35%;
        height:100vh;
        top: 0;
        left: 0;
    }

    .contenedor .contenedor-cortina .contenedor-cortina-derecha{
        background-image: url(../imagenes/Cortina-escritorio-02.png);
        width:35%;
        height:100vh;
        top: 0;
        right: 0;
    }

    /*===================  GRILLA  ========================*/
    .contenedor .contenedor-grid .grid{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "logo barra-menu logo-2"
                             "aside-izquierda contenido-principal aside-derecha"
                             "footer footer footer";

    }
    .barra-menu{
        display: initial;
        grid-area: barra-menu;
        font-family: 'Mayan';
    }

    .barra-menu .nav-barra-principal{
        height: 100%;
    }

    .barra-menu .nav-barra-principal {
        display: flex;
        width: 60vw;
        height: 100%;
        justify-content: space-evenly;
        align-items: flex-end;
        margin: auto;
        /* background: red; */
    }

    .barra-menu .nav-barra-principal a{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;   
        background: blue;
    }

    .barra-menu .nav-barra-principal a img{
        position: relative;
        width: 111px;
        z-index: 200;
        background: #320003;
        transition: 0.3s ease-in;
    }

    .barra-menu .nav-barra-principal p{
        position: absolute;
        text-align: center;
        color: #fff;
        font-size: 11px;
        cursor: pointer;
        z-index: 200;
    }

    .barra-menu .nav-barra-principal a:hover img{
        background: #ac101a;
    }

    /* FIN BARRA MENU */

    /* QUITANDO MENÚ HAMBURGUESA */
    .menu-imagen{
        display: none;
    }
    .menu-principal-toggle{
        display: none;
    }

    /* LOGOTIPOS */
    .contenedor-logo-principal{
        /* background:green; */
        align-items: flex-start;
        margin-left: 20px;
    }

    .contenedor-logo-principal .enlace img{
        width: 130px;
    }

    .contenedor-logo-2{
        align-items: center;
        position: relative;
    }

    .contenedor-logo-2 .enlace img{
        width: 130px;
        position: absolute;
        top:20px;
        right: 20px;
    }

    /* QUITANDO EL BOTON DE LA AREA DE LOGOTIPO */
    .contenedor-logo-principal  .contenedor-botones-aside{
        display: none;
    }
    
    /* ========== CONTENIDO PRINCIPAL DE PÁGINA ============ */
    .main{
        /* grid-area: contenido-principal;
        width: 100%;
        height: 100%; */
        /* background: green; */
        margin-top: initial;
        margin-bottom: initial;
        /* display: flex; */
    }
    
    .main .contenido-principal {
        display: grid;
        height: 95%;
        /* background: rgb(17, 142, 201); */
    }

    #movil{
        display: none;
    }
    
    #escritorio{
        display: grid;
        width: 85%;
        position: relative;
        grid-template-columns: repeat(15, auto);
	    grid-template-rows: repeat(10, auto);
    }

    .contenedor-info-local {
        position: relative;
        width: 240px;
        font-family: 'Helvetica UltraComp';
        margin: auto;
    }

    .contenido-condado, .contenido-batan, .contenido-bosque,
    .contenido-cumbaya, .contenido-floresta {
        display: block;
        position: absolute;
        width: 35%;
        /* background: blue; */
        margin: auto;
    }

    /* UBICACIÓN ELEMENTOS LOCALES*/
    .contenido-batan{
        grid-area: 2/1/6/4;;
    }

    .contenido-condado{
        grid-area: 4/6/8/9;
    }

    .contenido-bosque {
        grid-area: 8/1/10/8;
    }

    .contenido-cumbaya {
        grid-area: 2/12/6/13;
    }

    .contenido-floresta{
        grid-area: 7/12/8/14;
    }

    .contenedor-sombrero, .contenedor-limon, .contenedor-tequila, .contenedor-captus,
    .contenedor-limonada, .contenedor-aji-1, .contenedor-aji-2, .contenedor-pinata{
        display: block;
        width: 30px;
        margin: auto;
        /* background: pink; */
        position: absolute;
    }

    .contenido-condado .contenedor-info-local, 
    .contenido-batan .contenedor-info-local, 
    .contenido-bosque .contenedor-info-local,
    .contenido-cumbaya .contenedor-info-local, 
    .contenido-floresta .contenedor-info-local {
        margin: auto;
        /* background:red; */
    }

    .contenedor-info-local img {
        width: 120px;
    }

    .contenedor-info-local .direccion {
        width: 100%;
        margin: auto;
        line-height: 1em;
        letter-spacing: 0.9px;
        font-size: 22px;
        color: #fff;
        /* background: green; */
    }

    .contenedor-info-local .telefono {
        font-family: Woodstand;
        font-size: 25px;
        letter-spacing: 0.6px;
        color: #FABC1A;
        margin-left: 25px;
        /* background: lightgreen; */
    }

    .contenedor-info-local .telefono-numero {
        width: auto;
        letter-spacing: 0.8px;
        font-family: 'Helvetica UltraComp';
        color: #fff;
        font-size: 17px;
        margin-left: 2em;
        /* background: lightblue; */
    }

    /* UBICACIÓN ELEMENTOS IMÁGENES */
    .contenedor-sombrero{
        grid-area: 9/10/9/15;
        width: 25%;
    }

    .contenedor-limon {
        grid-area: 6/4/8/9;
    }

    .contenedor-captus{
        grid-area: 9/7/9/13;
    }

    .contenedor-aji-1{
        grid-area: 2/9/8/14;
        width: 18%;
    }

    .contenedor-aji-2{
        grid-area: 6/2/8/4;
    }

    .contenedor-pinata{
        grid-area: 5/15/6/16;
        width: 100%;
    }

    .contenedor-limonada{
        grid-area: 6/12/8/14;
    }
    
    .contenedor-tequila{
        grid-area: 1/6/5/14;
    }

    /* ASIDE */
    .contenedor-botones-aside .enlace img{
        width: 165px;
    }

    .aside-izquierda{
        /* background: blue; */
        align-items: center;
        margin-left: initial;
        position: relative;
        /* background: blue; */
    }

    .aside-izquierda .contenedor-botones-aside
    {
        position: absolute;
    }
    .aside-izquierda .contenedor-botones-aside:nth-child(1){
        top: -10px;
        /* left: 20px; */
        z-index: 200;
        display: initial;
    }

    .aside-izquierda .contenedor-botones-aside:nth-child(2){
        top: 200px;
        /* left: 20px; */
    }

    .aside-izquierda .contenedor-botones-aside:nth-child(3){
        bottom: -80px;
        right: -70px;
        z-index: 200;
    }

    .aside-derecha{
        /* background: green; */
        align-items: flex-start;
    }

    .aside-derecha .contenedor-botones-aside:last-child {
        /* background: blue; */
        align-self: center;
        margin-top: 80px;
    }
    
    /* FOOTER */
    .contenedor-alas img.alas-izq{
        margin-top: -5%;
    }
    
    .contenedor-alas img.alas-der{
        margin-top: -5%;
        
    }

    .footer .patron-footer img {
        width: 1700px;
    }

    .footer .contenedor-footer .caja-1 {
        height: 80%;
    }

    .footer .contenedor-footer .caja-2 {
        z-index: 100;
        height: 58%;
    }

    .imagen-mitad-del-mundo img.monumento{
        max-width: 110px;
    }
    
    .contenedor-alas{
        max-width: 380px;
    }

    .footer .imagen-izquierda-footer img {
        max-width: 130px;
    }

    .footer .imagen-derecha-footer img {
        max-width: 130px;
    }
}